<a class="menu-item md-button md-ink-ripple" ng-if="!item.items && !item.divider && !item.action && item.perm" ui-sref={{item.sref}} ng-href={{item.href}} ng-click="vm.leftmenu.toggle(false); item.postAction && item.postAction();" target={{item.target}} layout=row>
    <md-icon md-colors="{color: 'primary'}" ng-if=item.icon ng-bind=item.icon></md-icon>
    <md-icon ng-if=item.svg md-svg-src=/icons/{{item.svg}}.svg></md-icon>
    <span flex md-colors="{color: 'primary'}">{{item.label}}</span>
    <md-icon hide-xs ng-if=item.pinnable class=pin ng-class="{pinned : item.pinned}" ng-click="vm.leftmenu.togglePin(item, $event)">{{item.pinned ? 'star' : 'star_border'}}</md-icon>
</a>
<button class="md-button md-ink-ripple menu-item" ng-if="!item.items && !item.divider && item.action && item.perm" ng-click="vm.leftmenu.toggleGroup(item); item.action()">
    <div layout=row>
        <md-icon md-colors="{color: 'primary'}" ng-if=item.icon ng-bind=item.icon></md-icon>
        <span md-colors="{color: 'primary'}" flex>{{item.label}}</span>
    </div>
</button>
<button class="md-button md-ink-ripple menu-item" ng-if="item.items && !item.divider && item.perm" ng-click=vm.leftmenu.toggleGroup(item)>
    <div layout=row>
        <md-icon ng-if=item.svg md-svg-src=/icons/{{item.svg}}.svg></md-icon>
        <md-icon ng-if=item.icon ng-bind=item.icon md-colors="{color: 'primary'}"></md-icon>
        <span md-colors="{color: 'primary'}" flex>{{item.label}}</span>
        <md-icon class="arrow rotate" ng-class='{"collapsed" : !item.expanded}'>keyboard_arrow_down</md-icon>
    </div>
</button>
<ul ng-if="item.items && item.perm" ng-show=item.expanded>
    <li ng-repeat="item in item.items track by $index" ng-class='{"divider": !!item.divider, "active" : item.isActive()}' ng-include="'/partials/md/leftmenu-item.html'"></li>
</ul>
