<div class="row">
    <div class="col-md-12">
        <br>
        <button type="button" class="btn btn-sm btn-warning" onclick="goto('/')"><i class="fas fa-arrow-left"></i> Voltar</button>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button type="button" class="btn btn-info botao" onclick="goto('/chamados/internos')" style="text-align: center;">Chamados<br>Internos</button>
                <button type="button" class="btn btn-info botao" onclick="goto('/chamados/central')" style="text-align: center;">Chamados<br>para a<br>Central</button>
                <button type="button" class="btn btn-info botao" onclick="goto('/chamados/confederacao')" style="text-align: center;">Chamado<br>para a<br>Confederacao</button>
            </div>
        </div>
    </div>
</div>