<div class="row">
    <div class="col-md-12" ng-init="initTelaImpressoras()">
        <style>
            .card2 {
                padding-right: 15px !important;
                border: 1px solid black;
            }
        </style>
        <div class="row">
            <div class="col-md-2 card">
                Impressora HP XXXX
                <div id="chart"></div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 card">
                Impressora HP YYYY
                <div id="chart2"></div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 card">
                Impressora HP ZZZZ
                <div id="chart3"></div>
            </div>
        </div>
    </div>
</div>