<div>
    <br>
    <button type="button" class="btn btn-sm btn-warning" onclick="goto('/')"><i class="fas fa-arrow-left"></i> Voltar</button>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1>Utilitários</h1>

                    <button type="button" class="btn btn-info botao" onclick="goto('/operacao/extrato')">Extrato OFX</button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>