<div class="row">
    <div class="col-md-12" ng-init="listarChamadosAbertos()">
        <br>
        <button type="button" class="btn btn-sm btn-warning" onclick="goto('/')"><i class="fas fa-arrow-left"></i> Voltar</button>

        <br>
        <br>
        <button type="button" class="btn mb-3 btn-primary"><i class="ti-plus f_s_14 mr-2"></i> Novo Chamado</button>
        <br>
        <div class="white_card mb_20">
            <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                        <h3 class="m-0">Chamados</h3>
                    </div>
                </div>
                <div class="white_card_body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="3%"></th>
                                    <th>Data</th>
                                    <th>Usuário</th>
                                    <th>Tipo</th>
                                    <th width="25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in arrChamados">
                                    <td>
                                        <span ng-if="item.datadif < 2"><i class="fas fa-circle" style="color: green;"></i></span>
                                        <span ng-if="item.datadif >= 2 && item.datadif < 5"><i class="fas fa-circle" style="color: yellow;"></i></span>
                                        <span ng-if="item.datadif >= 5"><i class="fas fa-circle" style="color: red;"></i></span>
                                    </td>
                                    <td>{{ item.data_abertura | Timestamp:1 }}</td>
                                    <td>{{ item.nomeusuario }}</td>
                                    <td>{{ item.nomeservico }}</td>
                                    <td>
                                        <a href="#/chamados/internos/{{ item.id }}">
                                            <i class="fas fa-arrow-right    "></i>
                                        </a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><i class="fas fa-circle" style="color: green;"></i></span>
                                    </td>
                                    <td>28/06/2021</td>
                                    <td>Fulano de Tal</td>
                                    <td>Criação de Conta</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><i class="fas fa-circle" style="color: yellow;"></i></span>
                                    </td>
                                    <td>27/06/2021</td>
                                    <td>Fulano de Tal</td>
                                    <td>Criação de Conta</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><i class="fas fa-circle" style="color: red;"></i></span>
                                    </td>
                                    <td>25/06/2021</td>
                                    <td>Fulano de Tal</td>
                                    <td>Criação de Conta</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       
       <br>
       <br>
    </div>
</div>