<div class="row">
    <div class="col-md-12" ng-init="initViewChamado()">
        <div class="row">
            <div class="col-md-8">
                <div class="white_card mb_20">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">Chamado {{ id }}</h3>
                            </div>
                        </div>
                        <div class="white_card_body">
                            <table width="100%">
                                <tr>
                                    <td width="35">
                                        <img ng-if="infoChamado.foto != null" class="img mg-thumbnail" src="{{ infoChamado.foto }}" width="32" alt="">
                                        <img ng-if="infoChamado.foto == null" class="img img-thumbnail" src="img/no-picture.png" width="32" alt="">
                                    </td>
                                    <td>
                                        {{ infoChamado.nomeusuario }}<br>
                                        {{ infoChamado.unidade }} / {{ infoChamado.setor }}<br>

                                    </td>
                                    <td align="right">
                                        {{ infoChamado.data_abertura | Timestamp:1 }}
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <div ng-bind-html="infoChamado.descricao"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="evento in infoChamado.eventos" style="padding-left: 50px;">
                    <div class="white_card mb_20">
                        <div class="white_card_body">
                            <table width="100%">
                                <tr>
                                    <td width="35">
                                        <img ng-if="infoChamado.foto != null" class="img mg-thumbnail" src="{{ evento.foto }}" width="32"
                                            alt="">
                                        <img ng-if="infoChamado.foto == null" class="img img-thumbnail" src="img/no-picture.png" width="32" alt="">
                                    </td>
                                    <td>
                                        {{ evento.nomeusuario }}<br>
                                        {{ evento.unidade }} / {{ evento.setor }}<br>
                                    </td>
                                    <td align="right">
                                        {{ evento.data_evento | Timestamp:1 }}
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <div ng-bind-html="evento.descricao"></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-control" summernote ng-model="formData.descricao"></div>
            </div> 
        </div>
        
    </div>
</div>