<div class="row">
    <div class="col-12">
        <h2 align="center">Dashboard</h2>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Receitas no Mês - {{ hoje | date:'MMMM' }}/{{ hoje | date:'yyyy' }}</h5>
                        <p class="card-text">
                            <h1>{{ resumo.receitas | currency:'R$ ' }}</h1>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Despesas no Mês - {{ hoje | date:'MMMM' }}/{{ hoje | date:'yyyy' }}</h5>
                        <p class="card-text">
                            <h1>{{ resumo.despesas | currency:'R$ ' }}</h1>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-secondary" onclick="goto('/financeiro/contasbancarias')" type="button">Contas Bancárias</button>
        <button class="btn btn-secondary" onclick="goto('/financeiro/categorias')" type="button">Categorias/Centro de Custo</button>
        <button class="btn btn-secondary" onclick="goto('/financeiro/movimentacoes')" type="button">Movimentações</button>
    </div>
</div>