<div class="row">
    <div class="col-12">
        <h2 align="center">Movimentações</h2>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Movimentações</h5>
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Data</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Confirmado/Pago</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Saldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" ng-repeat="item in movimentacoesContaList">
                                    <td scope="row" width="8%">{{ item.data_prevista | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        {{ item.descricao }}<br>
                                        <span ng-repeat="label in item.labels" class="badge bg-secondary" style="margin-right: 5px;font-size: 8px;padding:2px;">{{ label }}</span>
                                    </td>
                                    <td width="10%" align="center"><i ng-if="item.status == 1" class="fa fa-check" aria-hidden="true" style="font-size: 16px;color: green;"></i></td>
                                    <td style="width: 8%;"><span ng-class="{'positivo': item.valor > 0, 'negativo': item.valor <= 0}">{{ item.valor | currency:'R$ ' }}</span></td>
                                    <td style="width: 8%;"><span ng-class="{'positivo': item.saldo > 0, 'negativo': item.saldo <= 0}">{{ item.saldo | currency:'R$ ' }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </p>
            </div>
        </div>
    </div>
</div>