<div class="row">
    <div class="col-md-12">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="images/logo.svg" alt="logo">
                        </div>
                        <h4>Hello! let's get started</h4>
                        <p id="token" style="word-break: break-all;"></p>
                        <div id="messages"></div>
                        <h6 class="font-weight-light">Sign in to continue.</h6>
                        <form class="pt-3">
                            <div class="form-group">
                                <input ng-model="user.email" type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input ng-model="user.password" type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="mt-3">
                                <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary font-weight-medium auth-form-btn">SignIn</button>
                                <button type="button" ng-click="testeGoogle()" class="btn btn-lg btn-primary font-weight-medium auth-form-btn">
                                    <i class="fa fa-google" aria-hidden="true"></i> Google 
                                </button>
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input">
                                        Manter conectado
                                        <i class="input-helper"></i></label>
                                </div>
                                <a href="#" class="auth-link text-black">Esqueceu a senha?</a>
                            </div>
                            <div class="mb-2">
                                
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Não tem uma conta? <a href="#!/registro" class="text-primary">Criar conta</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/js/TesteMsg.js"></script>
</div>