<div class="row">
    <div class="col-md-12" ng-init="initAgendamento()">
        <div class="card">
            <div class="card-header">
                Novo Agendamento
            </div>
            <div class="card-body">
                Profissional: {{ prestadorSelecionado.titulo }}<br>
                Produto/Serviço: {{ produtoSelecionado.nome }}<br>
                Valor a Pagar: {{ produtoSelecionado.valor | currency }}<br>
                Data <input type="date" ng-model="form.data" min="{{ today | date:'yyyy-MM-dd'}}" ng-change="teste1()">
                <br>
                <br>
                <div ng-if="!bloquearEscolha" align="center">
                    <table class="table" style="width: 50%;">
                        <tr ng-repeat="item in timeGrid">
                            <td>{{ item.hr }}</td>
                            <td>
                                <span ng-if="item.hr != '12'">{{ item.situacao }}</span>
                            </td>
                            <td>
                                <button ng-if="item.situacao == 'Disponivel' && item.hr != '12'" class="btn btn-primary btn-xs" type="button" ng-click="selecionarHorario(item)" translate>Select</button>
                            </td>
                        </tr>
                    </table>
                    <input type="text" ng-model="form.horario" />
                </div>
                <br>
                <div class="d-grid gap-2">
                  <button type="button" ng-disabled="!canSave" class="btn btn-success btn-sm" id="btnSalvar" ng-click="salvarAgendamento(form)">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>