<div>
    <div ng-init="initAgenda()">
        <style>
            .item-agenda {
                background-color: white;
                border-radius: 15px;
                margin-bottom: 10px;
            }
            .item-agenda .data { font-size: 10px;}
            .item-agenda .horario { font-size: 32px;}
        </style>
        <h2 align="center">Agenda</h2>
        <div class="row">
            <div class="col-md-5 grid-margin">
                <h4 align="center">Próximos Agendamentos</h4>
                <div class="row">
                    <div ng-repeat="item in arrAgendamentos" class="col-md-12 item-agenda">
                        <table width="100%">
                            <tr>
                                <td width="15%" align="center">
                                    <span class="data">{{ item.data.substr(0,10) |  date: "dd ' de ' MMMM ' de ' yyyy" }}</span><br>
                                    <span class="horario">{{ item.horario }}</span>
                                </td>
                                <td style="padding-left: 10px;">
                                    {{ item.nome_prestador }}<br>
                                    #{{ $index+1 }} - {{ item.nomeProduto }}
                                </td>
                                <td width="10%" align="center">
                                    <span ng-if="item.status == 1">
                                        <button class="btn btn-warning btn-xs" type="button" ng-click="adiarAgendamento(item)">Adiar</button>
                                        <button class="btn btn-danger btn-xs" type="button" ng-click="cancelarAgendamento(item)">Cancelar</button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-if="arrAgendamentos.length == 0" class="col-md-12" style="margin-bottom: 80px;margin-top: 60px;">
                        <h3 align="center">Sem agendamentos</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 grid-margin">
                <h4 align="center">Agendamentos Anteriores</h4>
                <div class="row">
                    <div ng-repeat="item in arrAgendamentosPassados" class="col-md-12 item-agenda">
                        <table width="100%">
                            <tr>
                                <td width="15%" align="center">
                                    <span class="data">{{ item.data.substr(0,10) |  date: "dd ' de ' MMMM ' de ' yyyy" }}</span><br>
                                    <span class="horario">{{ item.horario }}</span>
                                </td>
                                <td style="padding-left: 10px;">
                                    {{ item.nome_prestador }}<br>
                                    #{{ $index+1 }} - {{ item.nomeProduto }}
                                </td>
                                <td width="20%">
                                    <button ng-if="item.status == 2" class="btn btn-warning btn-xs" type="button" ng-click="avaliarItem(item)">Avaliar</button>
                                    <span ng-if="item.status == 3">
                                        <span ng-repeat="star in stars track by $index" style="font-size: 11px;">
                                            <i ng-if="$index < item.rating" class="fa fa-star" style="color: #f5c71a;"></i>
                                            <i ng-if="$index >= item.rating" class="fa fa-star"></i>
                                        </span>
                                    </span>
                                    <span ng-if="item.status == 99">Cancelado</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-if="arrAgendamentosPassados.length == 0" class="col-md-12" style="margin-bottom: 80px;margin-top: 60px;">
                        <h3 align="center">Sem agendamentos Anteriores</h3>
                    </div>
                </div>
                <div ng-include="'app/views/Agendamentos/modal/usuarioAvaliacao'"></div>
            </div>
        </div>
    </div>
</div>