<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Agendamentos - Registro</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="lib/vendors/feather/feather.css">
    <link rel="stylesheet" href="lib/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="lib/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="lib/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller" ng-controller="LoginCtrl">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="images/logo.svg" alt="logo">
                            </div>
                            <h4 translate>New here?</h4>
                            <h6 class="font-weight-light" translate>Signing up is easy. It only takes a few steps</h6>
                            <form class="pt-3" name="form1" id="form1">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Nome" ng-model="user.nome">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" ng-model="user.email" required>
                                </div>
                                <div class="form-group hide">
                                    <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                                        <option>Country</option>
                                        <option>United States of America</option>
                                        <option>United Kingdom</option>
                                        <option>India</option>
                                        <option>Germany</option>
                                        <option>Argentina</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="{{ 'Password' | translate }}" ng-model="user.password" required>
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input" required ng-model="user.acceptedTerms">{{ 'I agree to all Terms & Conditions' | translate }}
                                        </label>
                                    </div>
                                </div>
                                
                            </form>
                            <div class="mt-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" ng-disabled="form1.$invalid" ng-click="criarConta()" translate>SIGN UP</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    <span translate>Already have an account?</span>
                                    <a href="login.html" class="text-primary" translate>Login</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="lib/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="lib/js/off-canvas.js"></script>
    <script src="lib/js/hoverable-collapse.js"></script>
    <script src="lib/js/template.js"></script>
    <script src="lib/js/settings.js"></script>
    <script src="lib/js/todolist.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="lib/js/angular-translate.min.js"></script>

    <script src="app/controllers/LoginCtrl.js"></script>
    <script src="app/translations.js"></script>
    <script src="app/directives.js"></script>
    <!-- endinject -->
</body>

</html>