<md-fab-speed-dial md-direction=up md-open=vm.fabIsOpen class="md-scale md-fab-bottom-right" ng-mouseenter="vm.fabIsOpen=true" ng-mouseleave="vm.fabIsOpen=false">
    <md-fab-trigger>
        <md-button aria-label=menu class="md-fab md-accent" ng-click="vm.novo('d')">
            <md-tooltip md-direction=left md-autohide=false>Nova despesa</md-tooltip>
            <md-icon>{{vm.fabIsOpen ? 'arrow_downward' : 'add'}}</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button flex class="md-fab md-accent md-hue-3 md-mini" ng-click="vm.novo('r')">
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction=left>Receita</md-tooltip>
        </md-button>
        <md-button flex class="md-fab md-accent md-hue-3 md-mini" ng-click="vm.novo('t')">
            <md-icon>compare_arrows</md-icon>
            <md-tooltip md-direction=left>Transferência</md-tooltip>
        </md-button>
        <md-button flex class="md-fab md-accent md-hue-3 md-mini" ng-click="vm.novo('g')">
            <md-icon>device_hub</md-icon>
            <md-tooltip md-direction=left>Lançamento detalhado</md-tooltip>
        </md-button>
        <md-button flex class="md-fab md-warn md-mini" ng-click=vm.conciliacaoBancaria() ng-if="l.conta && !l.fatura">
            <md-icon>file_upload</md-icon>
            <md-tooltip md-direction=left>Importar {{!vm.isCartao ? 'extrato bancário' : 'fatura'}}</md-tooltip>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
