<div class="row">
    <div class="col-md-12" ng-init="initProjectsView()">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" translate>New Ticket</h5>
                <p class="card-text">
                    <form>
                        <div class="form-group">
                            <label for="field1" translate>Title</label>
                            <input type="text" id="field1" ng-model="form.titulo" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editor" translate>Description</label>
                            <ng-quill-editor id="editor" ng-model="form.event"></ng-quill-editor>
                        </div>
                        <div>
                            
                            <button type="button" class="btn btn-success" ng-click="salvarTicket(form)"> Salvar</button>
                            
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>