<div class="row">
    <div class="col-md-12" ng-init="initAppDashboard()">
        <br>
        <h1 class="h3 mb-3">Dashboard</h1>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" translate>Projects</h5>
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" translate>Finances</h5>
                        <p class="card-text">
                            
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in appDashboard.financas">
                                        <td>{{ (item.tipo == 'C' ? 'Receitas' : 'Despesas') }}</td>
                                        <td>{{ item.soma | currency }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td>{{ appDashboard.resuladoFinanceiro | currency }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a href="#" class="card text-decoration-none">
                    <div class="card-body d-flex align-items-center text-inverse m-5px bg-inverse bg-opacity-10">
                        <div class="flex-fill">
                            <div class="mb-1">Total Visitors + Page Views</div>
                            <h2>22,930</h2>
                            <div>Today, 11:25AM</div>
                        </div>
                        <div class="opacity-5">
                            <i class="fa fa-shopping-bag fa-4x"></i>
                        </div>
                    </div>
                
                    <!-- card-arrow -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" translate>Tickets</h5>
                        <p class="card-text">
                
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>