<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home"
                    aria-selected="true">
                    <span class="mdi mdi-format-list-bulleted align-middle"></span>
                    Project Categories
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                    aria-selected="false">
                    <span class="mdi mdi-briefcase align-middle"></span>
                    <span translate>Clients</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages"
                    aria-selected="false">
                    <span class="mdi mdi-format-list-bulleted align-middle"></span>
                    Project Status
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="actstatus-tab" data-bs-toggle="tab" data-bs-target="#actstatus" type="button" role="tab" aria-controls="actstatus"
                    aria-selected="false">
                    <span class="mdi mdi-format-list-bulleted align-middle"></span>
                    Activity Status
                </button>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding: 15px;">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" width="5%">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in arrCategories">
                            <th scope="row">{{ $index+1 }}</th>
                            <td>{{ item.label }}</td>
                            <td>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<button class="btn btn-primary" type="button" ng-click="addNewCategory()"><i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add</span></button>
				<br>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="padding: 15px;">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" width="5%">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in arrClients">
                            <th scope="row">{{ $index+1 }}</th>
                            <td>{{ item.nome }}</td>
                            <td>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<button class="btn btn-primary" type="button" ng-click="openModalClient()"><i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add</span></button>
				<br>
            </div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab" style="padding: 15px;">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" width="5%">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in arrStatus">
                            <th scope="row">{{ $index+1 }}</th>
                            <td>{{ item.label }}</td>
                            <td>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<button class="btn btn-primary" type="button" ng-click="addNewStatus()"><i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add</span></button>
				<br>
            </div>
            <div class="tab-pane" id="actstatus" role="tabpanel" aria-labelledby="actstatus-tab" style="padding: 15px;">
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" width="5%">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in arrStatus">
                            <th scope="row">{{ $index+1 }}</th>
                            <td>{{ item.label }}</td>
                            <td>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<button class="btn btn-primary" type="button" ng-click="addNewStatus()"><i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add</span></button>
				<br>
            </div>
        </div>

    </div>
</div>