<div class="row">
    <div class="col-md-12" ng-init="initCad()">
        <pre>
            {{ arrPrestadores }}
        </pre>
        <form>
            <div class="form-group">
                <label for="campo1">Nome</label>
                <input id="campo1" class="form-control" type="text" ng-model="form.nome">
            </div>
            <div class="form-group">
                <label for="campo2">Area</label>
                <input id="campo2" class="form-control" type="text" ng-model="form.area">
            </div>
            <div class="form-group">
                <label for="campo3">Email</label>
                <input id="campo3" class="form-control" type="text" ng-model="form.email">
            </div>
        </form>
        <button class="btn btn-primary" type="button" ng-click="salvarDados()">Salvar</button>
    </div>
</div>