<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulário</h4>
                <p class="card-text">
					<div class="row">
            			<div class="col-4">id_colaborador:</div>
            			<div class="col-8">
							<select ng-model="form.id_colaborador"><option value=""></option></select>
						</div>
        			</div>
					<div class="row">
            			<div class="col-4">id_tipo_modalidade:</div>
            			<div class="col-8">
							<select ng-model="form.id_tipo_modalidade"><option value=""></option></select>
						</div>
        			</div>
					<div class="row">
            			<div class="col-4">periodos:</div>
            			<div class="col-8">
							<input type="text" ng-model="form.periodos" />
						</div>
        			</div>
                </p>
            </div>
        </div>
    </div>
</div>