<!DOCTYPE html>
<html ng-app="G4F">
<head>
	<title>G4F</title>
	<meta charset="utf-8"/>
	<link href="favicon.png" type="image/png" rel="icon">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
	<!-- css:css -->
	
	<link rel="stylesheet" href="assets/css/icon_remixes.css">
	<link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="assets/css/light.css">
	<link rel="stylesheet" href="assets/css/custom.css">

	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
	<!-- endinject -->
	<!-- lib:js -->
	<!-- endinject -->
	<!-- js:js -->
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/feather.min.js"></script>
	<script src="assets/js/bootbox.min.js"></script>
	<script src="assets/js/chart.js"></script>
	<script src="assets/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="assets/js/choices.min.js"></script>
	<script src="assets/js/dropzone.min.js"></script>
	<script src="assets/js/highcharts/highcharts.js"></script>
	<script src="assets/js/highcharts/highcharts-3d.js"></script>
	<script src="assets/js/highcharts/modules/exporting.js"></script>
	<script src="assets/js/highcharts/modules/export-data.js"></script>
	<script src="assets/js/highcharts/modules/accessibility.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
	<script src="assets/js/alasql.min.js"></script>
	<script src="assets/js/xlsx.core.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/pt.min.js"></script>

	<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
	<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

	
	<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
		integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
		integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="assets/js/angular/angular.min.js"></script>
	<script src="assets/js/angular/angular-route.min.js"></script>
	<script src="assets/js/angular/angular-animate.min.js"></script>
	<script src="assets/js/angular/angular-aria.min.js"></script>
	<script src="assets/js/angular/angular-cookies.min.js"></script>
	<script src="assets/js/angular/angular-filter.js"></script>
	<script src="assets/js/angular/angular-input-masks-standalone.min.js"></script>
	<script src="assets/js/angular/angular-loader.min.js"></script>
	<script src="assets/js/angular/angular-locale_pt-br.js"></script>
	<script src="assets/js/angular/angular-message-format.min.js"></script>
	<script src="assets/js/angular/angular-messages.min.js"></script>
	<script src="assets/js/angular/angular-parse-ext.min.js"></script>
	<script src="assets/js/angular/angular-resource.min.js"></script>
	<script src="assets/js/angular/angular-sanitize.min.js"></script>
	<script src="assets/js/angular/angular-strap.min.js"></script>
	<script src="assets/js/angular/angular-strap.tpl.min.js"></script>
	<script src="assets/js/angular/angular-touch.min.js"></script>
	<script src="assets/js/angular/angular-translate.min.js"></script>
	<script src="assets/js/angular/angular-upload.min.js"></script>
	<script src="assets/js/angular/ui-bootstrap-tpls.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-flatpickr/3.6.6/ng-flatpickr.min.js"></script>
	<script src="assets/js/angular/angular-selectize.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.min.js"></script>

	<link rel="stylesheet" href="assets/css/quill.snow.min.css">
	<script src="assets/js/highlight.min.js"></script>
	<script src="assets/js/quill.js"></script>
	<script src="assets/js/angular/ng-quill.min.js"></script>
	<!-- endinject -->

	<link rel="stylesheet" href="assets/css/select2.min.css">
	<script src="assets/js/select2.full.min.js"></script>

	<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
	<script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>

	<script src="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.exporter.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.selection.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.1.0/ocLazyLoad.min.js"></script>

	<!-- js2:js -->
	<script src="app/appG4F.js"></script>
	<script src="app/utils/API.js"></script>
	<script src="app/utils/directives.js"></script>
	<script src="app/utils/filters.js"></script>
	<script src="app/utils/translation.js"></script>
	<script src="app/utils/Util.js"></script>

	<!-- endinject -->
</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky" data-preloader="disable" ng-controller="AppController" ng-init="initApp()">

	<div id="loading" class="modal bs-example-modal-sm in" role="dialog" style="display: block; padding-right: 17px; z-index: 10100;" ng-show="carregando">
		<div class="modal-backdrop in" style="height: 100vh;"></div>
		<div class="modal-dialog modal-sm">
			<div class="modal-content" style="border-radius: 10px;text-align: center;">
				<h1> 
					<span ng-bind-html="mensagem!=null?mensagem:'Carregando'"></span> ...
					<i class="fa fa-spinner fa-spin"></i>
				</h1>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20"
						xml:space="preserve">
						<path d="M19.4,4.1l-9-4C10.1,0,9.9,0,9.6,0.1l-9,4C0.2,4.2,0,4.6,0,5s0.2,0.8,0.6,0.9l9,4C9.7,10,9.9,10,10,10s0.3,0,0.4-0.1l9-4C19.8,5.8,20,5.4,20,5S19.8,4.2,19.4,4.1z" />
						<path d="M10,15c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
						c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,15,10.1,15,10,15z" />
						<path d="M10,20c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
						c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,20,10.1,20,10,20z" />
					</svg>
					<span class="align-middle me-3">G4F</span>
				</a>

				<div ng-include="'app/views/G4F/sidemenu.html'"></div>
			</div>
		</nav>
		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<form class="d-none d-sm-inline-block">
					<div class="input-group input-group-navbar">
						<input type="text" class="form-control" placeholder="Search..." aria-label="Search">
						<button class="btn" type="button">
							<i class="align-middle" data-feather="search"></i>
						</button>
					</div>
				</form>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown"
								data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="message-circle"></i>
									<span class="indicator">4</span>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
								aria-labelledby="messagesDropdown">
								<div class="dropdown-menu-header">
									<div class="position-relative">
										4 New Messages
									</div>
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="assets/img/avatars/avatar-5.jpg"
													class="avatar img-fluid rounded-circle" alt="Ashley Briggs">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">Ashley Briggs</div>
												<div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
												<div class="text-muted small mt-1">15m ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="assets/img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="Carl Jenkins">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">Carl Jenkins</div>
												<div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
												<div class="text-muted small mt-1">2h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="assets/img/avatars/avatar-4.jpg"
													class="avatar img-fluid rounded-circle" alt="Stacie Hall">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">Stacie Hall</div>
												<div class="text-muted small mt-1">Pellentesque auctor neque nec urna. </div>
												<div class="text-muted small mt-1">4h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<img src="assets/img/avatars/avatar-3.jpg"
													class="avatar img-fluid rounded-circle" alt="Bertha Martin">
											</div>
											<div class="col-10 ps-2">
												<div class="text-dark">Bertha Martin</div>
												<div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
												<div class="text-muted small mt-1">5h ago</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a href="#" class="text-muted">Show all messages</a>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="align-middle" data-feather="bell-off"></i>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
								aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">
									4 New Notifications
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-danger" data-feather="alert-circle"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Update completed</div>
												<div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
												<div class="text-muted small mt-1">2h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-warning" data-feather="bell"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Lorem ipsum</div>
												<div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
												<div class="text-muted small mt-1">6h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-primary" data-feather="home"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">Login from 192.186.1.1</div>
												<div class="text-muted small mt-1">8h ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="list-group-item">
										<div class="row g-0 align-items-center">
											<div class="col-2">
												<i class="text-success" data-feather="user-plus"></i>
											</div>
											<div class="col-10">
												<div class="text-dark">New connection</div>
												<div class="text-muted small mt-1">Anna accepted your request.</div>
												<div class="text-muted small mt-1">12h ago</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a href="#" class="text-muted">Show all notifications</a>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
                                <img ng-src="assets/img/flags/{{ currentLang.flag }}" alt="Portuguese" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                                <a ng-repeat="country in languagesList" class="dropdown-item" href="#" ng-click="changeLocale(country.locale)">
                                    <img ng-src="assets/img/flags/{{ country.flag }}" alt="{{ country.name }}" width="20" class="align-middle me-1" />
                                    <span class="align-middle" translate>{{ country.name }}</span>
                                </a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="" data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="" data-bs-toggle="dropdown">
								<img ng-if="Usuario.foto" ng-src="{{ Usuario.foto }}" class="avatar img-fluid rounded-circle me-1" alt="{{ Usuario.nome }}" title="{{ Usuario.nome }}" /> 
								<span ng-if="!Usuario.foto" class="avatar rounded-circle initials" title="{{ Usuario.nome }}">{{ Usuario.initials }}</span>
								<span class="text-dark">{{ Usuario.nome }}</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="#!/profile"><i class="align-middle me-1" data-feather="user"></i> <span translate>Profile</span></a>
								<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i><span translate>Analytics</span></a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#!/settings" translate>Settings & Privacy</a>
								<a class="dropdown-item" href="" translate>Help</a>
								<a class="dropdown-item" href="" ng-click="deslogar()" translate>Sign out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0" ng-view="">
				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
						</div>
						<div class="col-6 text-end">
							<p class="mb-0">
								&copy; 2023 - <a href="https://www.dsjconsultoria.com.br" class="text-muted" target="_blank">DSJ Sistemas - v {{ versao }}</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top" style="display: none;">
		<i class="ri-arrow-up-line"></i>
	</button>

	<script>
		feather.replace();

		var mybutton = document.getElementById("back-to-top");
		function scrollFunction() { 100 < document.body.scrollTop || 100 < document.documentElement.scrollTop ? mybutton.style.display = "block" : mybutton.style.display = "none" }
		function topFunction() { document.body.scrollTop = 0, document.documentElement.scrollTop = 0 } mybutton && (window.onscroll = function () { scrollFunction() });
	</script>
</body>
</html>