<div class="row">
    <div class="col-12" ng-init="listarControleCadastrados();">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Controle de Mudanças</h5>
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-primary">
                            <thead>
                                <tr>
                                    <th scope="col">Column 1</th>
                                    <th scope="col">Column 2</th>
                                    <th scope="col">Column 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" ng-repeat="item in listaControleMudancas">
                                    <td scope="row">{{ item }}</td>
                                    <td>R1C2</td>
                                    <td>R1C3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>