<md-dialog flex=100 flex-gt-sm=50 flex-gt-md=35 ng-cloak class="mdw-dialog mdw-dialog-fullscreen" id=edicao_contas mdw-watch-change=vm.conta on=vm.formChanged>
    <form novalidate name=form class=mdw-form>
        <mdw-dialog-header dismiss>
            <span ng-if=!vm.isEdicaoCartao>{{vm.conta.id ? 'Editar' : 'Nova'}} conta</span>
            <span ng-if=vm.isEdicaoCartao>{{vm.conta.id ? 'Editar' : 'Novo'}} cartão de crédito</span>
        </mdw-dialog-header>
        <md-dialog-content class=mdw-dialog-content>
            <div layout=row>
                <md-input-container flex=50 ng-if=!vm.blockEditarTipo>
                    <label>Tipo</label>
                    <md-select ng-model=vm.tipo ng-change=vm.onChangeTipo() ng-disabled=vm.conexao>
                        <md-option ng-value=1>Conta Corrente</md-option>
                        <md-option ng-value=2 ng-if="!vm.edicao && vm.hasCartao && vm.conta.tipo != 'INVESTIMENTO'">Cartão de crédito</md-option>
                        <md-option ng-value=3 ng-if="vm.conta.tipo != 'INVESTIMENTO'">Dinheiro</md-option>
                        <md-option ng-value=4 ng-if="vm.conta.tipo != 'INVESTIMENTO'">Outros</md-option>
                        <md-option ng-value=5 ng-if="vm.edicao && (vm.conta.tipo == 'CONTA CORRENTE' || vm.conta.tipo == 'INVESTIMENTO')">Carteira de Investimentos</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Moeda</label>
                    <md-select ng-model=vm.conta.moeda ng-change=vm.checkPlanoMoeda() ng-disabled=vm.conexao>
                        <md-option ng-repeat="moeda in vm.moedas" ng-value=moeda.id>
                            <md-icon md-svg-icon=moeda-{{moeda.id}}></md-icon>
                            &nbsp;&nbsp;{{ moeda.nome }}&nbsp;({{moeda.simbolo}})
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div id=edicao-conta-info-moeda-estr ng-if=vm.restricaoMoeda>
                <span ng-if="vm.totalMoedas == 0">Seu plano atual não possui suporte a moedas estrangeiras.</span>
                <span ng-if="vm.totalMoedas > 0">O limite de {{vm.totalMoedas}} conta{{vm.totalMoedas > 1 ? 's' : ''}} em moeda estrangeira foi atingido.</span>
                <a ui-sref=assinatura>Clique aqui</a>
                para fazer o upgrade do seu plano
                <span ng-if="vm.totalMoedas == 0">
                    &nbsp;ou altere a moeda padrão de sistema <a ui-sref=conta.geral>clicando aqui</a>
                </span>
                .
            </div>
            <div layout=row>
                <md-input-container flex>
                    <label>Nome</label>
                    <input type=text name=conta_nome ng-model=vm.nome required ng-change=vm.onChangeNome()>
                    <div ng-messages=form.conta_nome.$error role=alert>
                        <div ng-message=required>Campo obrigatório</div>
                    </div>
                </md-input-container>
                <div tabindex=-1 style="margin-left: 10px" mdw-banco-selector=vm.selectorBanco filter=vm.nome conta=vm.conta dim=30></div>
            </div>
            <div ng-if="vm.tipo != 2 && !vm.conexao">
                <div layout=row>
                    <span flex></span>
                    <md-button class="md-stroked md-accent" ng-if=!vm.avancada ng-click="vm.avancada=true">Configurações adicionais</md-button>
                </div>
                <div ng-if=vm.avancada>
                    <div layout=row>
                        <md-input-container flex>
                            <label>Data do saldo inicial</label>
                            <input name=conta_data_saldo_inicial ng-model=vm.conta.dataSaldoInicial mdw-date-format max-view=date min-view=date format=DD/MM/YYYY view=date date-time auto-close=true autocomplete=off position=absolute max-date=vm.today required>
                            <div ng-messages=form.conta_data_saldo_inicial.$error role=alert>
                                <div ng-message=required>Campo obrigatório</div>
                                <div ng-message=max>A data do saldo inicial não pode ser no futuro</div>
                            </div>
                        </md-input-container>
                        <md-button class=md-icon-button>
                            <md-icon>help</md-icon>
                            <md-tooltip style="height: auto; line-height: 12px;padding: 6px;">
                                A data de início de controle do saldo e das<br>
                                movimentações financeiras desta conta no<br>Meu Dinheiro.
                            </md-tooltip>
                        </md-button>
                    </div>
                    <div layout=row>
                        <md-input-container flex>
                            <label>Saldo em {{vm.conta.dataSaldoInicial.format('DD/MM/YYYY')}} ({{vm.conta.moeda | moeda}})</label>
                            <input type=text ng-model=vm.conta.saldoInicial ui-money-mask currency-symbol>
                        </md-input-container>
                        <md-radio-group layout=row layout-align="start center" ng-model=vm.sinal required ng-if="vm.tipo != 3">
                            <md-radio-button value=1>Credor</md-radio-button>
                            <md-radio-button value=-1>Devedor</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div layout=row>
                        <md-input-container flex>
                            <label>Considerar saldo</label>
                            <md-select ng-model=vm.conta.liquidez>
                                <md-option ng-value=1>disponível imediatamente</md-option>
                                <md-option ng-value=2>disponível no futuro</md-option>
                                <md-option ng-value=0>imobilizado</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout=row ng-if="vm.tipo==4">
                        <md-switch ng-model=vm.conta.exibirBP>Considerar conta no balanço patrimonial</md-switch>
                    </div>
                    <div ng-if="vm.tipo == 1 || vm.tipo == 5">
                        <div ng-if=vm.infoAdicional>
                            <div layout=row layout-align="start end">
                                <span flex></span>
                                <md-button class=md-primary ng-click="vm.infoAdicional=false">-info</md-button>
                            </div>
                            <div layout=row>
                                <md-autocomplete flex md-input-name=banco md-selected-item=vm.banco md-search-text=vm.searchBanco md-items="item in vm.queryBancos(vm.searchBanco)" md-item-text=item.nome md-floating-label=Banco>
                                    <md-item-template>
                                        <span md-highlight-text=vm.searchBanco>{{item.nome}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                            </div>
                            <div layout=row>
                                <md-input-container flex=40>
                                    <label>Agência</label>
                                    <input maxlength=20 ng-model=vm.conta.agencia>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Conta</label>
                                    <input maxlength=20 ng-model=vm.conta.numeroConta>
                                </md-input-container>
                            </div>
                            <div layout=row ng-if="vm.tipo == 1">
                                <md-input-container flex>
                                    <label>Limite ({{vm.conta.moeda | moeda}})</label>
                                    <input type=text maxlength=20 ng-model=vm.conta.limite ui-money-mask currency-symbol>
                                </md-input-container>
                            </div>
                            <div layout=row>
                                <md-input-container flex=50>
                                    <label>Contato</label>
                                    <input type=text maxlength=100 ng-model=vm.conta.contato>
                                </md-input-container>
                                <md-input-container flex=50>
                                    <label>Telefone</label>
                                    <input type=text maxlength=100 ng-model=vm.conta.telefone>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout=row ng-if=!vm.infoAdicional>
                            <span flex></span>
                            <md-button class=md-primary ng-click="vm.infoAdicional=true">+info</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.tipo == 2">
                <div layout=row>
                    <md-input-container flex=50>
                        <label>Limite ({{vm.conta.moeda | moeda}})</label>
                        <input type=text name=cartao_limite ng-model=vm.cartao.limite ui-money-mask currency-symbol required>
                        <div ng-messages=form.cartao_limite.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Tipo do limite</label>
                        <md-select ng-model=vm.cartao.tipoLimite>
                            <md-option value=1>Total</md-option>
                            <md-option value=2>Mensal</md-option>
                            <md-option value=3>Indefinido</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout=row layout-align="start start">
                    <md-input-container flex=30>
                        <label>Dia vencimento</label>
                        <input name=cartao_vencimento type=number ng-model=vm.vencimento required max=31 min=1 maxlength=2>
                        <div ng-messages=form.cartao_vencimento.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                            <div ng-message-exp="['min','max']">Dia inválido</div>
                        </div>
                    </md-input-container>
                    <md-input-container class=has-help flex>
                        <label>{{vm.possuiFaturaFechada ? 'Próxima' : 'Vencimento da primeira'}} fatura</label>
                        <md-select ng-model=vm.cartao.proximoVencimento>
                            <md-option ng-repeat="vencimento in vm.vencimentos" value={{vencimento}}>{{vencimento | mdwDate : 'dd/MM/yyyy'}}</md-option>
                        </md-select>
                        <md-icon class=mdw-help-icon>
                            help<md-tooltip class=mline md-direction=top>Data de vencimento da primeira fatura que deseja controlar no Meu Dinheiro</md-tooltip>
                        </md-icon>
                    </md-input-container>
                </div>
                <div class=info-fechamento-fatura>
                    Fechamento da fatura: <input type=number ng-model=vm.cartao.fechamento min=0 max=99 required>
                    dias antes do vencimento <span>({{vm.proximoFechamento() | mdwDate : 'dd/MM/yyyy'}})</span>
                </div>
                <div layout=row layout-align="start center" ng-if=!vm.possuiFaturaFechada>
                    <md-input-container flex>
                        <label>Saldo fatura {{vm.dataFaturaAnterior}} ({{vm.conta.moeda | moeda}})</label>
                        <input name=cartao_saldo_anterior type=text ng-model=vm.cartao.saldoFaturaAnterior ui-money-mask currency-symbol required>
                        <div ng-messages=form.cartao_saldo_anterior.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <md-radio-group layout=row ng-model=vm.sinalSaldoAnterior>
                        <md-radio-button value=1>Credor</md-radio-button>
                        <md-radio-button value=-1>Devedor</md-radio-button>
                    </md-radio-group>
                </div>
                <div required mdw-select=contas placeholder="Prever débito na conta" ng-model=vm.cartao.contada filter=vm.filtroContas btn-novo=true name=cartao_contada></div>
                <div layout=row layout-align="start center" ng-repeat='plastico in vm.cartao.plasticos | orderBy : ["-titular"]'>
                    <md-button class=md-icon-button ng-click=vm.onChangeTitular(plastico) ng-if=!plastico.titular>
                        <md-icon>stars</md-icon>
                        <md-tooltip>Escolher como cartão principal</md-tooltip>
                    </md-button>
                    <md-input-container flex>
                        <label>Nome do cartão {{plastico.titular ? 'principal' : 'adicional'}}</label>
                        <input type=text name=nome_cartao ng-model=plastico.nome required ng-disabled="plastico.id && !plastico.status" maxlength=50>
                        <div ng-messages=form.nome_cartao.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <md-button ng-click=vm.maisAdicional() ng-if=plastico.titular ng-disabled="vm.cartao.plasticos.length > 20">+ adicional</md-button>
                    <md-button ng-click=vm.menosAdicional(plastico) ng-if=!plastico.titular>
                        <span ng-if="plastico.id && !plastico.status">Habilitar</span>
                        <span ng-if="plastico.id && plastico.status">
                            remover/desabilitar<md-tooltip>Caso não existam lançamentos associados, será removido</md-tooltip>
                        </span>
                        <span ng-if=!plastico.id>Remover</span>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <mdw-dialog-actions ng-if=!vm.restricaoMoeda>
            <div ng-if="::(!vm.edicao && !vm.conexao)" class=btn-salvar-continuar ng-class="{disabled : form.$mdwInvalid || vm.salvando}">
                <md-button type=submit class="md-raised md-primary" ng-click="form.$valid && vm.ok()" ng-disabled="form.$mdwInvalid || vm.salvando">Salvar</md-button>
                <md-button class="md-raised md-primary" ng-click="form.$valid && vm.ok(true)" ng-disabled="form.$mdwInvalid || vm.salvando">
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction=top>Salvar e continuar</md-tooltip>
                </md-button>
            </div>
            <div ng-if="::(vm.edicao || vm.conexao)" flex layout=row layout-align="start center">
                <md-button class=md-icon-button href=investimentos/contas/editar/{{vm.conta.id}} target=_self ng-if="vm.conta.tipo =='INVESTIMENTO'">
                    <md-icon>open_in_new</md-icon>
                    <md-tooltip md-direction=top>Editar no módulo de investimentos</md-tooltip>
                </md-button>
                <span flex></span>
                <md-button type=submit class="md-primary md-raised" ng-disabled=form.$mdwInvalid ng-click="form.$valid && vm.ok()" ng-autodisable>Salvar</md-button>
            </div>
        </mdw-dialog-actions>
    </form>
</md-dialog>
