<md-dialog flex=100 flex-gt-sm=50 flex-gt-md=35 ng-cloak class="mdw-dialog mdw-dialog-fullscreen" id=bancos-selector-dialog>
    <mdw-dialog-header dismiss>Logo {{vm.conta.nome}}</mdw-dialog-header>
    <md-dialog-content class=mdw-dialog-content>
        <div layout=row>
            <md-input-container flex style=margin:0>
                <md-icon>search</md-icon>
                <label>Buscar</label>
                <input type=text ng-model=vm.filtro>
            </md-input-container>
        </div>
        <div flex ng-if=vm.loading layout=column layout-align="start center">
            <md-progress-circular style="margin-top: 50px;" mode=indeterminate></md-progress-circular>
        </div>
        <md-content class="mdw-whitebg content" flex layout=column ng-if="vm.bancos.length > 0">
            <h3>Instituições financeiras</h3>
            <div layout=row layout-wrap>
                <div class=logo ng-click=vm.select(banco) flex=10 ng-repeat="banco in vm.bancos | orderBy : ['-isDefault','nome'] | filter: vm.filtro">
                    <md-tooltip>{{banco.nome}}</md-tooltip>
                    <img ng-src=https://s3.amazonaws.com/img.meudinheiroweb.com.br/bankicons/{{banco.img}}.jpg title={{banco.nome}}>
                </div>
            </div>
            <h3>Ícones de sistema</h3>
            <div layout=row layout-wrap>
                <div class=logo ng-click=vm.select(outro) flex=10 ng-repeat="outro in vm.outros | orderBy : ['-isDefault','nome'] | filter: vm.filtro">
                    <md-tooltip>{{outro.nome}}</md-tooltip>
                    <img ng-src=https://s3.amazonaws.com/img.meudinheiroweb.com.br/bankicons/{{outro.img}}.jpg title={{outro.nome}}>
                </div>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>
