<!--link rel="stylesheet" href="https://spruko.com/demo/noa/Noa/assets/css/style.css"-->
<div class="row">
    <div class="col-md-12" style="background-color: black;">


        <div class="card">
                        <div class="card-header border-bottom">
                            <h5 class="mb-0">Latest projects</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-nowrap">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Team</th>
                                        <th scope="col">Completion</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img alt="..." src="img/social/airbnb.svg" class="avatar avatar-sm rounded-circle me-2"> <a class="text-heading font-semibold" href="#">Website Redesign</a></td>
                                        <td>23-01-2022</td>
                                        <td><span class="badge badge-lg badge-dot"><i class="bg-warning"></i>In
                                                progress</span></td>
                                        <td>
                                            <div class="avatar-group"><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-1.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-3.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-4.jpg"></a></div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"><span class="me-2">38%</span>
                                                <div>
                                                    <div class="progress" style="width:100px">
                                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width:38%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-end"><a href="#" class="btn btn-sm btn-neutral">View</a> <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td><img alt="..." src="img/social/amazon.svg" class="avatar avatar-sm rounded-circle me-2"> <a class="text-heading font-semibold" href="#">E-commerce App</a></td>
                                        <td>23-01-2022</td>
                                        <td><span class="badge badge-lg badge-dot"><i class="bg-success"></i>Done</span>
                                        </td>
                                        <td>
                                            <div class="avatar-group"><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-1.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-3.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-4.jpg"></a></div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"><span class="me-2">83%</span>
                                                <div>
                                                    <div class="progress" style="width:100px">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:83%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-end"><a href="#" class="btn btn-sm btn-neutral">View</a> <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td><img alt="..." src="img/social/bootstrap.svg" class="avatar avatar-sm rounded-circle me-2"> <a class="text-heading font-semibold" href="#">Learning Platform</a></td>
                                        <td>23-01-2022</td>
                                        <td><span class="badge badge-lg badge-dot"><i class="bg-danger"></i>Project at
                                                risk</span></td>
                                        <td>
                                            <div class="avatar-group"><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-1.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-3.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-4.jpg"></a></div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"><span class="me-2">4%</span>
                                                <div>
                                                    <div class="progress" style="width:100px">
                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width:4%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-end"><a href="#" class="btn btn-sm btn-neutral">View</a> <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td><img alt="..." src="img/social/dribbble.svg" class="avatar avatar-sm rounded-circle me-2"> <a class="text-heading font-semibold" href="#">Design Portfolio</a></td>
                                        <td>23-01-2022</td>
                                        <td><span class="badge badge-lg badge-dot"><i class="bg-warning"></i>In
                                                progress</span></td>
                                        <td>
                                            <div class="avatar-group"><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-1.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-3.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-4.jpg"></a></div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"><span class="me-2">10%</span>
                                                <div>
                                                    <div class="progress" style="width:100px">
                                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-end"><a href="#" class="btn btn-sm btn-neutral">View</a> <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td><img alt="..." src="img/social/spotify.svg" class="avatar avatar-sm rounded-circle me-2"> <a class="text-heading font-semibold" href="#">Our team's playlist</a>
                                        </td>
                                        <td>23-01-2022</td>
                                        <td><span class="badge badge-lg badge-dot"><i class="bg-warning"></i>In
                                                progress</span></td>
                                        <td>
                                            <div class="avatar-group"><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-1.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-3.jpg"> </a><a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img alt="..." src="img/people/img-4.jpg"></a></div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center"><span class="me-2">83%</span>
                                                <div>
                                                    <div class="progress" style="width:100px">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:83%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-end"><a href="#" class="btn btn-sm btn-neutral">View</a> <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="bi bi-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

        <br>
        <br>

        <h1 translate>Contracts</h1>
        
        <div class="row">
            <div class="col-6">
                <div class="css-1t9x1c9">
                    <div class=" css-zbgtqb">
                        <div class="deel-ui__icon deel-ui__icon__orientation-up MuiBox-root css-0">
                            <svg class="MuiSvgIcon-root MuiSvgIcon-color MuiSvgIcon-fontSizeInherit css-rbh41m" focusable="false"
                                aria-hidden="true" viewBox="0 0 24 24" data-testid="SearchIcon">
                                <path
                                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <input type="search" class="form-control css-1kjtvlt" placeholder="Search for contract name" aria-autocomplete="list" />
                </div>
                
            </div>
            <div class="col-6">
                <div class=" css-sk8xjc" style="padding: 10px;background-color: white;">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <div style="margin-top: 2%;border: 1px solid rgb(232, 235, 242);border-radius: 10px; padding: 10px;box-sizing: border-box;background-color: white;">
            <table class="css-1ecafck" style="background-color: white; border-radius: 10px;">
                <thead>
                    <tr class="css-1bf8rbh">
                        <th class="css-1td1bbf" colspan="100">
                            <h6 class="text-left unresponsive css-12wuzq6">Total of 1 contract</h6>
                        </th>
                    </tr>
                    <tr>
                        <th>Contract</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="MuiTableBody-root contractor-contracts-table css-194uxhf">
                    <tr class="MuiTableRow-root css-tmuxkj">
                        <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignLeft MuiTableCell-sizeMedium css-pusq3o">
                            <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center MuiBox-root css-0"
                                style="gap: 16px;">
                                <div class="MuiAvatar-root MuiAvatar-circular MuiAvatar-colorDefault css-7c7w7h">DL</div>
                                <div class="deel-ui__stack deel-ui__stack_vertical deel-ui__stack_with-spacing MuiBox-root css-0"
                                    style="gap: 4px;">
                                    <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center MuiBox-root css-0"
                                        style="gap: 8px;"><a
                                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover css-1h6h7p6"
                                            href="/contract/m2dz6e4/overview">
                                            <h4
                                                class="MuiTypography-root MuiTypography-h4 deel-ui__typography__heading_4 unresponsive css-n6z5lp">
                                                <span class="dotted-wrapper"><span class="dotted">Dilson Sordi IT Contract</span></span>
                                            </h4>
                                        </a>
                                        <div
                                            class="MuiChip-root MuiChip-filled MuiChip-sizeSmall MuiChip-colorDefault MuiChip-filledDefault no-wrap css-1qik6tg">
                                            <span class="MuiChip-label MuiChip-labelSmall css-tavflp">Fixed</span></div>
                                    </div>
                                    <h6
                                        class="MuiTypography-root MuiTypography-h6 deel-ui__typography__heading_6 unresponsive css-12wuzq6">
                                        IT Analyst</h6>
                                </div>
                            </div>
                        </td>
                        <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeMedium css-ga6xyd">
                            <div class="deel-ui__stack deel-ui__stack_vertical deel-ui__stack_with-spacing MuiBox-root css-0"
                                style="gap: 8px;">
                                <p class="no-wrap" data-qa="amount"><span translate="no" class="font-14 semi-bold"><span
                                            class="font-14 semi-bold">R$</span>10,000.</span><span translate="no"
                                        class="font-12 semi-bold">00</span></p>
                                <h6 class="MuiTypography-root MuiTypography-h6 deel-ui__typography__heading_6 unresponsive css-12wuzq6">
                                    Every month</h6>
                            </div>
                        </td>
                        <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeMedium css-ga6xyd">
                            <div class="deel-ui__stack deel-ui__stack_vertical deel-ui__stack_with-spacing MuiBox-root css-0"
                                style="gap: 4px;">
                                <div data-qa="contract-status-chip">
                                    <div
                                        class="MuiChip-root MuiChip-filled MuiChip-sizeSmall MuiChip-colorDefault MuiChip-filledDefault css-2uo6wl">
                                        <span class="MuiChip-label MuiChip-labelSmall css-tavflp">active</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeMedium css-1b6vd1b">
                            <div>
                                <div>
                                    <div><button
                                            class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorPrimary MuiIconButton-sizeSmall css-nl40io"
                                            tabindex="0" type="button" data-qa="action-buttons">
                                            <div class="deel-ui__icon deel-ui__icon__orientation-up MuiBox-root css-0"><svg
                                                    class="MuiSvgIcon-root MuiSvgIcon-color MuiSvgIcon-fontSizeMedium css-1xyugho"
                                                    focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="MoreVertIcon">
                                                    <path
                                                        d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                                                    </path>
                                                </svg></div><span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </button></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 css-1au9qiw">
            <div class="deel-ui__box contractor-contracts-box">
                <div class="infinite-scroll-component__outerdiv">
                    <div class="infinite-scroll-component " style="height: auto; overflow: auto;">
                        <table class="MuiTable-root css-1ecafck">
                            <thead class="MuiTableHead-root css-1wbz3t9">
                                <tr class="MuiTableRow-root MuiTableRow-head css-1bf8rbh">
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-alignRight MuiTableCell-sizeMedium css-1td1bbf"
                                        scope="col" colspan="100">
                                        <div class="MuiBox-root css-0">
                                            <h6
                                                class="MuiTypography-root MuiTypography-h6 deel-ui__typography__heading_6 text-left unresponsive css-12wuzq6">
                                                Total of 1 contract</h6>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="MuiTableRow-root MuiTableRow-head css-1bf8rbh">
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-alignRight MuiTableCell-sizeMedium css-s6witu"
                                        scope="col">
                                        <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center deel-ui__stack_justify-start MuiBox-root css-0"
                                            style="gap: 6px;">
                                            <h6 class="MuiTypography-root MuiTypography-h6 css-8y6lcl">Contract</h6>
                                        </div>
                                    </th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-alignRight MuiTableCell-sizeMedium css-s6witu"
                                        scope="col">
                                        <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center deel-ui__stack_justify-end MuiBox-root css-0"
                                            style="gap: 6px;">
                                            <h6 class="MuiTypography-root MuiTypography-h6 css-8y6lcl">Amount</h6>
                                        </div>
                                    </th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-alignRight MuiTableCell-sizeMedium css-s6witu"
                                        scope="col">
                                        <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center deel-ui__stack_justify-end MuiBox-root css-0"
                                            style="gap: 6px;">
                                            <h6 class="MuiTypography-root MuiTypography-h6 css-8y6lcl">Status</h6>
                                        </div>
                                    </th>
                                    <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-alignRight MuiTableCell-sizeMedium css-s6witu"
                                        scope="col">
                                        <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center deel-ui__stack_justify-end MuiBox-root css-0"
                                            style="gap: 6px;">
                                            <h6 class="MuiTypography-root MuiTypography-h6 css-8y6lcl">Action</h6>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="MuiTableBody-root contractor-contracts-table css-194uxhf">
                                <tr class="MuiTableRow-root css-tmuxkj">
                                    <td
                                        class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignLeft MuiTableCell-sizeMedium css-pusq3o">
                                        <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center MuiBox-root css-0"
                                            style="gap: 16px;">
                                            <div class="MuiAvatar-root MuiAvatar-circular MuiAvatar-colorDefault css-7c7w7h">DL
                                            </div>
                                            <div class="deel-ui__stack deel-ui__stack_vertical deel-ui__stack_with-spacing MuiBox-root css-0"
                                                style="gap: 4px;">
                                                <div class="deel-ui__stack deel-ui__stack_horizontal deel-ui__stack_with-spacing deel-ui__stack_align-center MuiBox-root css-0"
                                                    style="gap: 8px;"><a
                                                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover css-1h6h7p6"
                                                        href="/contract/m2dz6e4/overview">
                                                        <h4
                                                            class="MuiTypography-root MuiTypography-h4 deel-ui__typography__heading_4 unresponsive css-n6z5lp">
                                                            <span class="dotted-wrapper"><span class="dotted">Dilson Sordi IT
                                                                    Contract</span></span></h4>
                                                    </a>
                                                    <div
                                                        class="MuiChip-root MuiChip-filled MuiChip-sizeSmall MuiChip-colorDefault MuiChip-filledDefault no-wrap css-1qik6tg">
                                                        <span class="MuiChip-label MuiChip-labelSmall css-tavflp">Fixed</span>
                                                    </div>
                                                </div>
                                                <h6
                                                    class="MuiTypography-root MuiTypography-h6 deel-ui__typography__heading_6 unresponsive css-12wuzq6">
                                                    IT Analyst</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td
                                        class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeMedium css-ga6xyd">
                                        <div class="deel-ui__stack deel-ui__stack_vertical deel-ui__stack_with-spacing MuiBox-root css-0"
                                            style="gap: 8px;">
                                            <p class="no-wrap" data-qa="amount"><span translate="no"
                                                    class="font-14 semi-bold"><span
                                                        class="font-14 semi-bold">R$</span>10,000.</span><span translate="no"
                                                    class="font-12 semi-bold">00</span></p>
                                            <h6
                                                class="MuiTypography-root MuiTypography-h6 deel-ui__typography__heading_6 unresponsive css-12wuzq6">
                                                Every month</h6>
                                        </div>
                                    </td>
                                    <td
                                        class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeMedium css-ga6xyd">
                                        <div class="deel-ui__stack deel-ui__stack_vertical deel-ui__stack_with-spacing MuiBox-root css-0"
                                            style="gap: 4px;">
                                            <div data-qa="contract-status-chip">
                                                <div
                                                    class="MuiChip-root MuiChip-filled MuiChip-sizeSmall MuiChip-colorDefault MuiChip-filledDefault css-2uo6wl">
                                                    <span class="MuiChip-label MuiChip-labelSmall css-tavflp">active</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td
                                        class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeMedium css-1b6vd1b">
                                        <div>
                                            <div>
                                                <div><button
                                                        class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorPrimary MuiIconButton-sizeSmall css-nl40io"
                                                        tabindex="0" type="button" data-qa="action-buttons">
                                                        <div
                                                            class="deel-ui__icon deel-ui__icon__orientation-up MuiBox-root css-0">
                                                            <svg class="MuiSvgIcon-root MuiSvgIcon-color MuiSvgIcon-fontSizeMedium css-1xyugho"
                                                                focusable="false" aria-hidden="true" viewBox="0 0 24 24"
                                                                data-testid="MoreVertIcon">
                                                                <path
                                                                    d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                                                                </path>
                                                            </svg></div><span class="MuiTouchRipple-root css-w0pj6f"></span>
                                                    </button></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(".input-group.date").datepicker({
                    autoclose: true,
                    language: "pt-BR",
                    format: 'dd-mm-yyyy',
                    todayHighlight: true
                }).datepicker('update', new Date());
        </script>
    </div>
</div>