<div class="row">
    <div class="col-md-12" ng-init="listarUltimasBatidasPonto()">
        <div align="center">
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-info" ng-click="baterPonto()">Bater Ponto</button>
            
        </div>
        <br>
        <hr>
        <br>
        <div class="white_card mb_20">
            <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                        <h3 class="m-0">Ultimos Registros de Pontos</h3>
                    </div>
                </div>
                <div class="white_card_body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Dia</th>
                                    <th>Batidas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in arrBatidas">
                                    <td>{{ item.data | date:'dd/MM/yyyy' }}</td>
                                    <td>{{ item.batidas.replaceAll(",", " | ") }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>