<div class="row">
    <div class="col-md-12" ng-init="listarUsuarios()">
        <style>
        </style>
        <div class="white_card mb_20">
            <div class="white_card_header">
                <div class="box_header m-0">
                    <div class="main-title">
                        <h1 class="m-0">Usuários</h1>
                    </div>
                </div>
                <div class="white_card_body">
                    
                    <button type="button" class="btn btn-warning" onclick="goto('/sistema/cadastro/user')"> <i class="fa fa-plus"></i> Novo Usuário</button>
                    <br>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-hover" id="Tabela1">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th width="8%">Nivel Acesso</th>
                                    <th>Unidade</th>
                                    <th>Setor</th>
                                    <th width="8%">Situação</th>
                                    <th width="4%"></th>
                                    <th width="4%"></th>
                                </tr>
                            </thead>
                            <!--tbody>
                                <tr ng-repeat="item in arrUsuarios track by $index ">
                                    <td>{{ item.nome }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.id_nivel_acesso }}</td>
                                    <td>{{ item.unidade }}</td>
                                    <td>{{ item.setor }}</td>
                                    <td>{{ (item.ativo == 1 ? 'Ativo' : 'Inativo' ) }}</td>
                                    <td>
                                        <i class="fas fa-edit" title="Editar"></i>
                                        <i class="fas fa-trash-alt" title="Apagar"></i>
                                        <i class="fas fa-user" title="Desativar"></i>
                                    </td>
                                </tr>
                            </tbody-->
                        </table>
                        {{message}}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>