<div class="row">
    <div class="col-md-12">
        <br>
        <h1 class="h3 mb-3">Dashboard</h1>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" translate>Accounts</h5>
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" translate>Account</th>
                                            <th scope="col" translate>Expenses</th>
                                            <th scope="col" translate>Incomes</th>
                                            <th scope="col" translate>Flow</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in dashboardAccountsList" class="">
                                            <td scope="row">
                                                {{ item.nome }}
                                                <img ng-src="https://s3.amazonaws.com/img.meudinheiroweb.com.br/bankicons/{{item.banco.img}}.jpg" alt="{{item.banco.nome}}" style="width: 25px; height: 25px;border-radius: 100%;" />
                                            </td>
                                            <td style="color: red;">{{ item.total_despesas | currency:'R$ '}}</td>
                                            <td style="color: blue;">{{ item.total_receitas | currency:'R$ '}}</td>
                                            <td>
                                                <span ng-class="{'positivo': item.saldo_atual > 0, 'negativo': item.saldo_atual <= 0}" >{{ item.saldo_atual | currency:'R$ '}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-secondary" type="button" ng-click="showModalCreateAccount()" translate>New Account</button>
                                <button class="btn btn-secondary" type="button" onclick="goto('/finance/categories')" translate>New Category</button>
                                <button class="btn btn-secondary" type="button" ng-click="showModalCreateMovement()" translate>New Movement</button>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" translate>Categories</h5>
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" translate>Category</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in dashboardCategoryCards" class="">
                                            <td scope="row">{{ item.nome }}</td>
                                            <td style="color: red;">{{ item.total | currency:'R$ '}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>