<div class="row">
    <div class="col-md-12" ng-init="init()">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Movimentações</h5>
                <p class="card-text">
                    <div class="row p-5">
                        <div class="col-3">
                            <input type="date" class="form-control" ng-model="filtro.data_inicio" />
                            <input type="date" class="form-control" ng-model="filtro.data_termino" />
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary" type="button" ng-click="filtrar()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <br>
                    {{ filtro }}
                    <br>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Confirmado/Pago</th>
                                <th>Valor</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in movimentacoesContaList">
                                <td width="8%">{{ item.data_prevista | date:'dd/MM/yyyy'}}</td>
                                <td>
                                    {{ item.descricao }}<br>
                                    <span ng-repeat="label in item.labels" class="badge bg-secondary" style="margin-right: 5px;font-size: 8px;padding:2px;">{{ label }}</span>
                                </td>
                                <td width="10%" align="center">
                                    <i ng-if="item.status == 1" class="fa fa-check" aria-hidden="true" style="font-size: 16px;color: green;"></i>
                                    <i ng-if="item.status == 0" class="fa fa-arrow-circle-down" aria-hidden="true" style="font-size: 16px;" title="Dar Baixa" ng-click="marcarItemPago(item)"></i>
                                </td>
                                <td style="width: 8%;"><span ng-class="{'positivo': item.valor > 0, 'negativo': item.valor <= 0}">{{ item.valor | currency:'R$ ' }}</span></td>
                                <td style="width: 8%;"><span ng-class="{'positivo': item.saldo > 0, 'negativo': item.saldo <= 0}">{{ item.saldo | currency:'R$ ' }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="border-bottom: 1px solid #ccc;">Nova Movimentação</h5>
                        <p class="card-text">
                            <form ng-submit="salvarMovimentacao(form)">
                                <div class="form-group">
                                    <label for="field1" translate>Type</label>
                                    <div id="field1">
                                        <label class="ui-radio ui-radio-danger">
                                            <input name="radio1" type="radio" value="D" ng-model="form.tipo_operacao" checked="checked" aria-invalid="false">
                                            <span>Despesa</span>
                                        </label>
                                        <label class="ui-radio">
                                            <input name="radio1" type="radio" value="C" ng-model="form.tipo_operacao" aria-invalid="false">
                                            <span>Receita</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field1" translate="">Title</label>
                                    <input type="text" id="field1" class="form-control" ng-model="form.titulo" />
                                </div>
                                <div class="form-group">
                                    <label for="field3" translate="">Value</label>
                                    <input type="text" id="field3" class="form-control" ng-model="form.valor" ui-money-mask="2" />
                                </div>
                                <div class="form-group">
                                    <label for="field4" translate="">Due Date</label>
                                    <input type="date" id="field4" class="form-control" ng-model="form.data_vencimento" />
                                </div>
                                <div class="form-group">
                                    <label for="field5" translate="">Category</label>
                                    <ui-select id="field5" ng-model="form.id_categoria" theme="selectize" title="Choose a person">
                                        <ui-select-match placeholder="Selecione a Categoria">
                                            {{$select.selected.nome}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in categoriesListFiltered | filter: $select.search">
                                            <div>
                                                <span>&nbsp;{{ item.nome | highlight: $select.search }}</span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="field6" translate="">Account</label>
                                    <ui-select id="field6" ng-model="form.conta" theme="selectize" title="Selecione o banco...">
                                        <ui-select-match placeholder="Selecione o banco...">
                                            <img ng-src="https://s3.amazonaws.com/img.meudinheiroweb.com.br/bankicons/{{ $select.selected.banco.img }}.jpg" alt="" style="width: 25px; height: 25px;border-radius: 100%;" />
                                            {{$select.selected.nome}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in accountsList | filter: $select.search">
                                            <div>
                                                <img ng-src="https://s3.amazonaws.com/img.meudinheiroweb.com.br/bankicons/{{ item.banco.img }}.jpg" alt="" style="width: 25px; height: 25px;border-radius: 100%;" />
                                                <span>&nbsp;{{ item.nome | highlight: $select.search }}</span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="field7" translate="">Rateio entre projetos Ativos?</label>
                                    <div id="field7">
                                        <select class="form-control" ng-model="form.lembrete">
                                            <option value="0" selected>Não</option>
                                            <option value="1">Sim</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Teste OFX</h5>
                        <p class="card-text">
                            <button class="btn btn-secondary" type="button" ng-click="testeOFX()">Teste</button>
                            <br>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr ng-repeat="item in ofxList">
                                        <td>{{ item.MEMO }}</td>
                                        <td ng-class="{'positivo': item.TRNAMT > 0, 'negativo': item.TRNAMT <= 0}">
                                            {{ item.TRNAMT | currency: 'R$ ' }}
                                        </td>
                                        <td>
                                            {{ item.FITID.substr(6,2) }}/{{ item.FITID.substr(4,2) }}/{{ item.FITID.substr(0,4) }}
                                        </td>
                                        <td ng-class="{'positivo': item.saldo > 0, 'negativo': item.saldo <= 0}">{{ item.saldo | currency: 'R$ ' }}</td>
                                        <td>
                                            <i class="fa fa-toggle-right" aria-hidden="true" ng-click="lancarItem(item)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>