<div flex class=balanco-patrimonial>
    <div layout=row layout-align="start center" class=titulo as-sortable-item-handle>
        <span flex>Balanço patrimonial</span>
        <div class=actions layout=row>
            <md-button ng-if="!vm.isBasico && card.opened && vm.vg.bp._initialized" class="md-icon-button swap-view {{'v'+vm.vg.bp.visualizacao}}" ng-click=vm.vg.bp.alterarVisualizacao()>
                <md-tooltip>{{vm.vg.bp.visualizacao == 1 ? 'Alterar para visão detalhada' : 'Alterar para visão resumida'}}</md-tooltip>
                <md-icon>swap_horiz</md-icon>
            </md-button>
            <md-button class="md-icon-button toggle-card" ng-click=vm.vg.togglePanel(card)>
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
        </div>
    </div>
    <md-progress-linear class=md-primary ng-if=vm.vg.bp.loading></md-progress-linear>
    <div class=conteudo ng-if="!vm.isBasico && !vm.vg.bp.loading && card.opened && vm.vg.bp._initialized" ng-class="{'detalhado' : vm.vg.bp.visualizacao == 2}">
        <div ng-if=!vm.invest google-chart chart=vm.vg.bp.chart style="max-height:200px; width:100%;"></div>
        <md-content ng-if=!vm.invest>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span class=cor-legenda ng-style="{'background-color' : vm.vg.bp.bp.ativo.cor}"></span>
                            Ativo
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.ativo.valor></td>
                    </tr>
                    <tr>
                        <td>
                            <span class=cor-legenda></span>
                            Disponível
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.ativo.disponivel.valor></td>
                    </tr>
                    <tr class=detalhe ng-repeat="conta in vm.vg.bp.bp.ativo.disponivel.contas | orderBy : 'nome'">
                        <td>
                            <a ng-if=conta.url mdw-nome-cadastro=contas ng-model=conta.conta ui-sref={{conta.url}}></a>
                            <span ng-if=!conta.url mdw-nome-cadastro=contas ng-model=conta.conta></span>
                        </td>
                        <td mdw-currency=conta.valor></td>
                    </tr>
                    <tr>
                        <td>
                            <span class=cor-legenda></span>
                            Realizável
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.ativo.realizavel.valor></td>
                    </tr>
                    <tr class=detalhe ng-repeat="conta in vm.vg.bp.bp.ativo.realizavel.contas | orderBy : 'nome'">
                        <td>
                            <a ng-if=conta.url mdw-nome-cadastro=contas ng-model=conta.conta ui-sref={{conta.url}}></a>
                            <span ng-if=!conta.url mdw-nome-cadastro=contas ng-model=conta.conta></span>
                        </td>
                        <td mdw-currency=conta.valor></td>
                    </tr>
                    <tr ng-if="vm.vg.bp.bp.ativo.imobilizado.valor != 0">
                        <td>
                            <span class=cor-legenda></span>
                            Imobilizado
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.ativo.imobilizado.valor></td>
                    </tr>
                    <tr class=detalhe ng-repeat="conta in vm.vg.bp.bp.ativo.imobilizado.contas | orderBy : 'nome'">
                        <td>
                            <a ng-if=conta.url mdw-nome-cadastro=contas ng-model=conta.conta ui-sref={{conta.url}}></a>
                            <span ng-if=!conta.url mdw-nome-cadastro=contas ng-model=conta.conta></span>
                        </td>
                        <td mdw-currency=conta.valor></td>
                    </tr>
                    <tr>
                        <td>
                            <span class=cor-legenda ng-style="{'background-color' : vm.vg.bp.bp.passivo.cor}"></span>
                            Passivo
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.passivo.valor></td>
                    </tr>
                    <tr>
                        <td>
                            <span class=cor-legenda></span>
                            Devedor
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.passivo.devedor.valor></td>
                    </tr>
                    <tr class=detalhe ng-repeat="conta in vm.vg.bp.bp.passivo.devedor.contas | orderBy : 'nome'">
                        <td>
                            <a ng-if=conta.url mdw-nome-cadastro=contas ng-model=conta.conta ui-sref={{conta.url}}></a>
                            <span ng-if=!conta.url mdw-nome-cadastro=contas ng-model=conta.conta></span>
                        </td>
                        <td mdw-currency=conta.valor></td>
                    </tr>
                    <tr>
                        <td>
                            <span class=cor-legenda></span>
                            Exigível
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.passivo.exigivel.valor></td>
                    </tr>
                    <tr class=detalhe ng-repeat="conta in vm.vg.bp.bp.passivo.exigivel.contas | orderBy : 'nome'">
                        <td>
                            <a ng-if=conta.url mdw-nome-cadastro=contas ng-model=conta.conta ui-sref={{conta.url}}></a>
                            <span ng-if=!conta.url mdw-nome-cadastro=contas ng-model=conta.conta></span>
                        </td>
                        <td mdw-currency=conta.valor></td>
                    </tr>
                    <tr ng-if="vm.vg.bp.bp.passivo.imobilizado.valor != 0">
                        <td>
                            <span class=cor-legenda></span>
                            Imobilizado
                        </td>
                        <td mdw-currency=vm.vg.bp.bp.passivo.imobilizado.valor></td>
                    </tr>
                    <tr class=detalhe ng-repeat="conta in vm.vg.bp.bp.passivo.imobilizado.contas | orderBy : 'nome'">
                        <td>
                            <a ng-if=conta.url mdw-nome-cadastro=contas ng-model=conta.conta ui-sref={{conta.url}}></a>
                            <span ng-if=!conta.url mdw-nome-cadastro=contas ng-model=conta.conta></span>
                        </td>
                        <td mdw-currency=conta.valor></td>
                    </tr>
                </tbody>
            </table>
        </md-content>
        <div layout=column layout-align="start center" ng-if=vm.invest>
            <p>Disponível apenas no módulo de investimentos</p>
            <md-button href="investimentos/bp/mensal?inicio={{vm.data}}" target=_self class="md-accent md-stroked">Acessar balanço de {{vm.data | date : 'MMMM yyyy'}}</md-button>
        </div>
    </div>
    <mdw-vg-placeholder-basico ng-if="vm.isBasico && card.opened && !vm.vg.bp.loading" id=bp></mdw-vg-placeholder-basico>
    <div class=rodape layout=row ng-if="!vm.isBasico && !vm.invest && !vm.vg.bp.loading && card.opened && vm.vg.bp._initialized">
        <span flex>Patrimônio líquido</span>
        <span mdw-currency=vm.vg.bp.bp.patrimonio mask=auto></span>
    </div>
</div>
