<div flex layout=column>
    <div layout=row layout-align="start center" class=titulo as-sortable-item-handle>
        <div flex>Contas a receber</div>
        <div class=actions layout=row>
            <md-button ng-if="card.opened && vm.vg.contasReceber._initialized" class="md-icon-button swap-view {{'v'+vm.vg.contasReceber.visualizacao}}" ng-click="vm.vg.contasReceber.alterarVisualizacao('r')">
                <md-tooltip>{{vm.vg.contasReceber.visualizacao == 1 ? 'Alterar para visão totalizada' : 'Alterar para visão detalhada'}}</md-tooltip>
                <md-icon>swap_horiz</md-icon>
            </md-button>
            <md-button class="md-icon-button toggle-card" ng-click=vm.vg.togglePanel(card)>
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
        </div>
    </div>
    <md-progress-linear class=md-primary ng-if="vm.vg.contasReceber.loading && card.opened && vm.vg.contasReceber._initialized"></md-progress-linear>
    <div class=conteudo ng-if="!vm.vg.contasReceber.loading && card.opened && vm.vg.contasReceber._initialized">
        <div ng-if="vm.vg.contasReceber.lancamentos.length > 0 && vm.vg.contasReceber.visualizacao == 1">
            <mdw-paginator paginator=vm.vg.contasReceber.paginator></mdw-paginator>
            <md-content class="mdw-whitebg mdw-list contaspg mdw-list-lancamentos mdw-list-bordered">
                <div ng-repeat="l in vm.vg.contasReceber.lancamentos" flex class="mdw-list-item with-action" layout=row>
                    <div layout=column layout-align="center center" class=left>
                        <mdw-status-lancamento l=l status=l.status></mdw-status-lancamento>
                    </div>
                    <div layout=column layout-align=center class=data>
                        <div mdw-data=l></div>
                    </div>
                    <div layout=row flex>
                        <mdw-descricao-lancamento flex layout=column l=l ignore=categoria,projeto,contaT,conta extra=ndocumento></mdw-descricao-lancamento>
                    </div>
                    <div layout=column layout-align=center class=right>
                        <span mdw-currency=l.valor></span>
                    </div>
                    <div layout=column layout-align=center class=acoes>
                        <mdw-acoes-lancamento ng-model=l></mdw-acoes-lancamento>
                    </div>
                </div>
            </md-content>
        </div>
        <md-content ng-if="vm.vg.contasReceber.lancamentosDia.length > 0 && vm.vg.contasReceber.visualizacao == 2" class="mdw-whitebg mdw-list mdw-list-bordered">
            <div ng-repeat="total in vm.vg.contasReceber.lancamentosDia" flex class=mdw-list-item layout=row>
                <div>
                    <strong ng-if="total.data == 'Hoje'">{{total.data}}</strong>
                    <span ng-if="total.data != 'Hoje'">{{total.data}}</span>
                </div>
                <div flex mdw-currency=total.valor mask=auto></div>
            </div>
        </md-content>
        <div class=mdw-empty-space flex ng-if=vm.vg.contasReceber.semDados>
            <md-icon>thumb_up</md-icon>
            <p class=mdw-empty-space-text>
                Nenhuma conta a receber.<br>Contas a pagar são receitas agendadas e ainda não recebidas.
            </p>
            <div class=mdw-empty-space-actions>
                <md-button mdw-rest-perm-lancamentos-g=0 class="md-primary md-raised" ui-sref=".lancamentosNovo({tipo:'r'})">Incluir receita</md-button>
                <md-button class=md-primary ui-sref=caixalancamentos.listar>Ver movimentações</md-button>
            </div>
        </div>
    </div>
    <div class=rodape layout=row ng-if="!vm.vg.contasReceber.loading && card.opened && vm.vg.contasReceber._initialized && vm.vg.contasReceber.lancamentos.length != 0">
        <span flex>Total</span>
        <span mdw-currency=vm.vg.contasReceber.total mask=auto></span>
    </div>
</div>
