<div flex>
    <div layout=row layout-align="start center" class=titulo as-sortable-item-handle>
        <span flex>Fluxo de caixa</span>
        <div class=actions layout=row>
            <md-button class="md-icon-button toggle-card" ng-click=vm.vg.fluxocaixa.filtrarContasSaldo()>
                <md-tooltip>{{ vm.vg.fluxocaixa.filtrarSaldo? "Exibir contas com saldo zerado": "Ocultar contas com saldo zerado"}}</md-tooltip>
                <md-icon>{{ vm.vg.fluxocaixa.filtrarSaldo ? "visibility_off" : "visibility"}}</md-icon>
            </md-button>
            <md-button class="md-icon-button toggle-card" ng-click=vm.vg.togglePanel(card)>
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
        </div>
    </div>
    <md-progress-linear class=md-primary ng-if=vm.vg.fluxocaixa.loading></md-progress-linear>
    <div layout=column class=conteudo ng-if="!vm.vg.fluxocaixa.loading && card.opened && vm.vg.fluxocaixa._initialized">
        <div>
            <div google-chart chart=vm.vg.fluxocaixa.chart.fluxo style="max-height:200px; width:100%;" agc-on-select=vm.vg.fluxocaixa.onselect(selectedItem)></div>
        </div>
        <md-content>
            <table>
                <thead>
                    <tr>
                        <td class=checkbox>
                            <input type=checkbox mdw-indeterminate=vm.vg.fluxocaixa.allMarkedIndeterminate ng-click=isAllMarked() ng-change=vm.vg.fluxocaixa.markAllOptions() ng-model=vm.vg.fluxocaixa.allMarked>
                            <md-tooltip md-direction=right>{{vm.vg.fluxocaixa.allMarked ? 'Desmarcar' : 'Marcar'}} todos</md-tooltip>
                        </td>
                        <th class=left></th>
                        <th class=right>
                            <em>Saldo em {{vm.vg.fluxocaixa.dataSaldo | mdwDate : "dd MMM"}}</em>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="conta in vm.vg.fluxocaixa.contas" ng-if="!conta.encerrada || vm.vg.fluxocaixa.saldos[conta.id]">
                        <td class=checkbox>
                            <input id=checkbox-{{conta.id}} type=checkbox ng-change=vm.vg.fluxocaixa.filtrarContas(conta.id) ng-model=vm.vg.fluxocaixa.filtroContas[conta.id]>
                        </td>
                        <td>
                            <span class="cor-legenda togglable" ng-style="{'background-color' : vm.vg.fluxocaixa.cores[conta.id]}" ng-click=vm.vg.fluxocaixa.toggleConta(conta.id) ng-class="{'hidden-on-chart' : !vm.vg.fluxocaixa.showContas[conta.id]}">
                                <md-tooltip>Clique para {{vm.vg.fluxocaixa.showContas[conta.id] ? 'esconder' : 'exibir'}} esta conta do gráfico</md-tooltip>
                            </span>
                            <a class=mdw-link-text ui-sref="{{'extratoConta.listar({conta :' + conta.id + '})'}}">{{conta.nome}}</a>
                        </td>
                        <td>
                            <span mdw-currency=vm.vg.fluxocaixa.saldos[conta.id]></span>
                        </td>
                    </tr>
                    <tr ng-if="vm.vg.fluxocaixa.residuoHabilitado && vm.vg.fluxocaixa.saldos.residuo" mdw-plano-has=metas>
                        <td class=checkbox>
                            <input id=checkbox-r type=checkbox ng-change="vm.vg.fluxocaixa.filtrarContas('r')" ng-model=vm.vg.fluxocaixa.filtroContas.r>
                        </td>
                        <td>
                            <label for=checkbox-r>Saldo de resíduo de metas</label>
                        </td>
                        <td>
                            <span mdw-currency=vm.vg.fluxocaixa.saldos.residuo></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-content>
        <div flex ng-if="vm.vg.fluxocaixa.saldos.length == 0" layout=column layout-align="start center">
            <div>
                <md-icon class=mdw-icon-noresults>error_outline</md-icon>
            </div>
            <p>Nenhuma conta com disponibilidade imediata cadastrada</p>
        </div>
    </div>
    <div class=rodape layout=row ng-if="!vm.vg.fluxocaixa.loading && card.opened && vm.vg.fluxocaixa._initialized">
        <span flex>Total</span>
        <span mdw-currency=vm.vg.fluxocaixa.saldos.total mask=auto></span>
    </div>
</div>
