<div flex layout=column class=metasorcamentovg>
    <div layout=row layout-align="start center" class=titulo as-sortable-item-handle>
        <div flex>
            Metas de receitas<br>
            <em ng-if="card.opened && vm.vg.metasOrcamentoR._initialized" class=detalhe>Situação {{vm.vg.metasOrcamentoR.visualizacao == 'c' ? 'confirmada' : 'projetada'}}</em>
        </div>
        <div class=actions layout=row>
            <md-button ng-if="!vm.isBasico && card.opened && vm.vg.metasOrcamentoR._initialized" class="md-icon-button swap-view {{'v'+vm.vg.metasOrcamentoR.visao}}" ng-click=vm.vg.metasOrcamentoR.toggleVisao()>
                <md-tooltip>{{vm.vg.metasOrcamentoR.visao == 1 ? 'Alterar para visão do total' : 'Alterar para visão por categorias'}}</md-tooltip>
                <md-icon>swap_horiz</md-icon>
            </md-button>
            <md-button ng-if="!vm.isBasico && card.opened && vm.vg.metasOrcamentoR._initialized" class=md-icon-button ng-class=vm.vg.metasOrcamentoR.visualizacao ng-click=vm.vg.metasOrcamentoR.toggleVisualizacao()>
                <md-tooltip>{{vm.vg.metasOrcamentoR.visualizacao == 'c' ? 'Alterar para situação projetada' : 'Alterar para situação confirmada'}}</md-tooltip>
                <md-icon>{{vm.vg.metasOrcamentoR.visualizacao == 'c' ? 'check_circle' : 'check'}}</md-icon>
            </md-button>
            <md-menu ng-if="!vm.isBasico && card.opened && vm.vg.metasOrcamentoR._initialized">
                <md-button class=md-icon-button ng-click=$mdOpenMenu()>
                    <md-icon>visibility</md-icon>
                    <md-tooltip>Configurações de exibição</md-tooltip>
                </md-button>
                <md-menu-content width=3>
                    <md-menu-item>
                        <md-button ng-click=vm.vg.metasOrcamentoR.toggleSubcategorias()>{{vm.vg.metasOrcamentoR.subcategorias ? 'Esconder' : 'Exibir'}} subcategorias</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click=vm.vg.metasOrcamentoR.toggleIndefinidas() ng-disabled=vm.configSvc.utilizacao.metasRD>{{vm.vg.metasOrcamentoR.indefinidas ? 'Esconder' : 'Exibir'}} categorias com metas não definidas</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button toggle-card" ng-click=vm.vg.togglePanel(card)>
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
        </div>
    </div>
    <md-progress-linear class=md-primary ng-if="vm.vg.metasOrcamentoR.loading && card.opened && vm.vg.metasOrcamentoR._initialized"></md-progress-linear>
    <div class="conteudo metas" ng-class="{'exibir-subcategorias' : vm.vg.metasOrcamentoR.subcategorias}" ng-if="!vm.isBasico && !vm.vg.metasOrcamentoR.loading && card.opened && vm.vg.metasOrcamentoR._initialized">
        <md-content ng-if="vm.vg.metasOrcamentoR.metas.r && !vm.isMoeda">
            <div ng-if="vm.vg.metasOrcamentoR.visao == 1" class="mdw-list mdw-list-bordered" flex>
                <div class="mdw-list-item meta" ng-class="{parent : categoria.subcategorias.length > 0}" layout-align="start center" layout=row ng-repeat-start="categoria in vm.vg.metasOrcamentoR.metas.r.categorias | orderBy : '-razao'" ng-include="'/partials/visaogeral/paineis/metaOrcamentoLinha.html'"></div>
                <div ng-if=categoria.subcategorias class="mdw-list-item meta sub" ng-class="{last : $last}" ng-show=vm.vg.metasOrcamentoR.subcategorias layout-align="start center" layout=row ng-repeat="subcat in categoria.subcategorias | orderBy : '-razao'" onload="categoria = subcat" ng-include="'/partials/visaogeral/paineis/metaOrcamentoLinha.html'"></div>
                <div style="display: none" ng-repeat-end></div>
            </div>
            <div ng-if="vm.vg.metasOrcamentoR.visao == 2" class="mdw-list mdw-list-bordered" flex>
                <mdw-pgbar-circular razao=vm.vg.metasOrcamentoR.metas.r.geral.razao cor=vm.vg.metasOrcamentoR.metas.r.geral.cor></mdw-pgbar-circular>
                <table>
                    <tbody>
                        <tr>
                            <td>Meta definida {{vm.vg.metasOrcamentoR.mes}}</td>
                            <td mdw-currency=vm.vg.metasOrcamentoR.metas.r.geral.meta mask=auto></td>
                        </tr>
                        <tr>
                            <td>Total {{vm.vg.metasOrcamentoR.visualizacao == 'p' ? 'projetado' : 'confirmado'}}</td>
                            <td mdw-currency=vm.vg.metasOrcamentoR.metas.r.geral.valor mask=auto></td>
                        </tr>
                        <tr ng-if=vm.vg.metasOrcamentoR.metas.r.geral.residuo>
                            <td>Total a realizar</td>
                            <td mdw-currency=vm.vg.metasOrcamentoR.metas.r.geral.residuo mask=auto></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
        <div class=mdw-empty-space flex ng-if="!vm.isBasico && !vm.vg.metasOrcamentoR.metas.r && !vm.isMoeda">
            <md-icon>error_outline</md-icon>
            <p class=mdw-empty-space-text>
                Sem metas de receita definidas para {{vm.vg.getData().fim | mdwDate : 'MMMM'}}.<br>Defina uma meta de quanto espera receber.
            </p>
            <div class=mdw-empty-space-actions>
                <md-button class=md-primary ui-sref="metasrd.lista.receita({inicio : vm.vg.getData().inicio , fim : vm.vg.getData().fim})">Gerenciar metas</md-button>
            </div>
        </div>
        <div flex ng-if=vm.isMoeda layout=column layout-align="start center">
            <div>
                <md-icon class=mdw-icon-noresults>error_outline</md-icon>
            </div>
            <p>Metas de orçamento disponíveis apenas na moeda padrão.</p>
        </div>
    </div>
    <mdw-vg-placeholder-basico ng-if="vm.isBasico && card.opened && !vm.vg.metasOrcamentoR.loading" id=metas></mdw-vg-placeholder-basico>
    <div class=rodape layout=row ng-if="!vm.isBasico && !vm.isMoeda && !vm.vg.metasOrcamentoR.loading && card.opened && vm.vg.metasOrcamentoR._initialized && vm.vg.metasOrcamentoR.metas.r && vm.vg.metasOrcamentoR.visao == 1">
        <div flex class=meta layout-align="start center" layout=row ng-repeat="categoria in [vm.vg.metasOrcamentoR.metas.r]" ng-include="'/partials/visaogeral/paineis/metaOrcamentoLinha.html'"></div>
    </div>
</div>
