<div flex layout=column>
    <div layout=row layout-align="start center" class=titulo as-sortable-item-handle>
        <div flex>
            Resultado do mês <em ng-if="card.opened && vm.vg.resultadosRd._initialized" class=detalhe>Situação {{vm.vg.resultadosRd.visualizacao == 'c' ? 'confirmada' : 'projetada'}}</em>
        </div>
        <div class=actions layout=row>
            <md-button ng-if="card.opened && vm.vg.resultadosRd._initialized" class=md-icon-button ng-class=vm.vg.resultadosRd.visualizacao ng-click=vm.vg.resultadosRd.toggleVisualizacao()>
                <md-tooltip>{{vm.vg.resultadosRd.visualizacao == 'c' ? 'Alterar para situação projetada' : 'Alterar para situação confirmada'}}</md-tooltip>
                <md-icon>{{vm.vg.resultadosRd.visualizacao == 'c' ? 'check_circle' : 'check'}}</md-icon>
            </md-button>
            <md-button class="md-icon-button toggle-card" ng-click=vm.vg.togglePanel(card)>
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
        </div>
    </div>
    <md-progress-linear class=md-primary ng-if="vm.vg.resultadosRd.loading && card.opened && vm.vg.resultadosRd._initialized"></md-progress-linear>
    <div class=conteudo ng-if="!vm.vg.resultadosRd.loading && card.opened && vm.vg.resultadosRd._initialized">
        <div ng-if=!vm.vg.resultadosRd.semDados google-chart chart=vm.vg.resultadosRd.chart style="max-height:200px; width:100%;"></div>
        <md-content ng-if=!vm.vg.resultadosRd.semDados>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span class=cor-legenda ng-style="{'background-color' : vm.vg.resultadosRd.corReceitas}"></span>
                            Receitas
                        </td>
                        <td mdw-currency=vm.vg.resultadosRd.totalReceitas></td>
                    </tr>
                    <tr>
                        <td>
                            <span class=cor-legenda ng-style="{'background-color' : vm.vg.resultadosRd.corDespesas}"></span>
                            Despesas
                        </td>
                        <td mdw-currency=vm.vg.resultadosRd.totalDespesas></td>
                    </tr>
                </tbody>
            </table>
        </md-content>
        <div class=mdw-empty-space flex ng-if=vm.vg.resultadosRd.semDados>
            <md-icon>error_outline</md-icon>
            <p class=mdw-empty-space-text>
                Sem lançamentos de receitas e despesas no mês.<br>O resultado do mês é apuradado a partir das receitas e despesas registradas.
            </p>
            <div class=mdw-empty-space-actions>
                <md-button mdw-rest-perm-lancamentos-g=0 class="md-primary md-raised" ui-sref=".lancamentosNovo({tipo:'d'})">Fazer lançamento</md-button>
                <md-button class=md-primary ui-sref=caixalancamentos.listar>Ver movimentações</md-button>
            </div>
        </div>
    </div>
    <div class=rodape layout=row ng-if="!vm.vg.resultadosRd.loading && card.opened && vm.vg.resultadosRd._initialized && !vm.vg.resultadosRd.semDados">
        <span flex>Resultado</span>
        <span mdw-currency="vm.vg.resultadosRd.totalDespesas + vm.vg.resultadosRd.totalReceitas" mask=auto></span>
    </div>
</div>
