<div flex layout=column>
    <div layout=row layout-align="start center" class=titulo as-sortable-item-handle>
        <span flex>Últimos lançamentos</span>
        <div class=actions layout=row>
            <md-button class="md-icon-button toggle-card" ng-click=vm.vg.togglePanel(card)>
                <md-icon>keyboard_arrow_up</md-icon>
            </md-button>
        </div>
    </div>
    <md-progress-linear class=md-primary ng-if="vm.vg.ultimosLancamentos.loading && card.opened && vm.vg.ultimosLancamentos._initialized"></md-progress-linear>
    <div class=conteudo ng-if="!vm.vg.ultimosLancamentos.loading && card.opened && vm.vg.ultimosLancamentos._initialized">
        <div ng-if="vm.vg.ultimosLancamentos.lancamentos.length > 0">
            <mdw-paginator paginator=vm.vg.ultimosLancamentos.paginator></mdw-paginator>
            <md-content class="mdw-whitebg mdw-list contaspg mdw-list-lancamentos mdw-list-bordered">
                <div ng-repeat="l in vm.vg.ultimosLancamentos.lancamentos" flex class="mdw-list-item with-action" layout=row>
                    <div layout=column layout-align=center class=data>
                        <div mdw-data=l competencia-cartao></div>
                    </div>
                    <div layout=row flex>
                        <mdw-descricao-lancamento flex layout=column l=l ignore=categoria,projeto,contaT,conta extra=ndocumento mods=false></mdw-descricao-lancamento>
                    </div>
                    <div layout=column layout-align=center class=right>
                        <span mdw-currency=l.valor conta=l.conta></span>
                    </div>
                    <div layout=column layout-align=center class=acoes>
                        <mdw-acoes-lancamento ng-model=l></mdw-acoes-lancamento>
                    </div>
                </div>
            </md-content>
        </div>
        <div class=mdw-empty-space flex ng-if=vm.vg.ultimosLancamentos.semDados>
            <md-icon>error_outline</md-icon>
            <p class=mdw-empty-space-text>
                Nenhum lançamento feito hoje.<br>Lançamentos são registros das suas receitas e despesas.
            </p>
            <div class=mdw-empty-space-actions>
                <md-button mdw-rest-perm-lancamentos-g=0 class="md-primary md-raised" ui-sref=".lancamentosNovo({tipo:'d'})">Fazer lançamento</md-button>
                <md-button class=md-primary ui-sref=caixalancamentos.listar>Ver movimentações</md-button>
            </div>
        </div>
    </div>
</div>
