<md-dialog flex=100 flex-gt-sm=80 flex-gt-md=50 id=edicao-lancamento ng-cloak class="mdw-dialog mdw-dialog-fullscreen">
    <form class=mdw-form novalidate name=form autocomplete=off>
        <mdw-dialog-header dismiss>
            <div ng-if="!vm.estornar && (vm.criacao || vm.clonar)">
                <div ng-if="vm.l.tipo!='g'" layout=row layout-align="start center">
                    <span>Nova</span>
                    <md-select ng-model=vm.l.tipo class=header-md-select ng-change=vm.changeTipo()>
                        <md-option value=d>despesa</md-option>
                        <md-option value=r>receita</md-option>
                        <md-option value=t>transferência</md-option>
                    </md-select>
                </div>
                <span ng-if="vm.l.tipo=='g'">Novo lançamento detalhado</span>
            </div>
            <div ng-if="vm.estornar || (!vm.criacao && !vm.clonar)">
                {{vm.acao.reconhecer ? 'Reconhecer' : vm.acao.conciliar ? 'Conciliar' : vm.confirmacao ? 'Confirmar' : vm.estornar ? 'Estornar' : 'Editar' }} {{::vm.l.descricao}} <span ng-if="vm.l.parcela != 'fixa'">{{vm.l.parcela}}</span>
                <span ng-if="vm.l.parcela == 'fixa'">
                    <md-icon>repeat</md-icon>
                </span>
            </div>
        </mdw-dialog-header>
        <md-dialog-content class=md-dialog-content>
            <div class=warning-fatura ng-if="vm.edicaoFaturaFechada || vm.isFaturaFechada()" layout=row layout-align="start center">
                <md-icon>warning</md-icon>
                <div flex>
                    A fatura associada a este lançamento está fechada. <strong>O valor da fatura não será atualizado</strong>
                    e poderá ficar inconsistente.
                </div>
            </div>
            <div class=warning-fatura ng-if=vm.isPernaGrupo>
                Esta transferência está associada a um <a style=cursor:pointer class=link-light-blue ng-click=vm.abrirPernaDetalhe()>lançamento detalhado</a>
                . Alterações realizadas serão refletidas no mesmo.
            </div>
            <div class=warning-fatura ng-if="vm.observacoesMescladas || vm.ndocumentoMesclado">
                <div ng-if="vm.observacoesMescladas && !vm.ndocumentoMesclado">
                    Os campos de <strong>observações</strong>
                    dos lançamentos originais foram mesclados
                </div>
                <div ng-if="!vm.observacoesMescladas && vm.ndocumentoMesclado">
                    Os campos de <strong>número de documento</strong>
                    dos lançamentos originais foram mesclados
                </div>
                <div ng-if="vm.observacoesMescladas && vm.ndocumentoMesclado">
                    Os campos de <strong>observações</strong>
                    e <strong>número de documento</strong>
                    dos lançamentos originais foram mesclados
                </div>
            </div>
            <div layout=row>
                <div flex layout=column layout-gt-xs=row>
                    <div layout=row flex-gt-xs>
                        <md-input-container flex ng-if=vm.l.parcelas>
                            <label>Valor total</label>
                            <input type=text name=valorTotal ng-model=vm.l.valor ui-money-mask disabled>
                        </md-input-container>
                        <md-input-container flex ng-if=!vm.l.parcelas>
                            <label>
                                {{!vm.edicao || vm.edicaoCartao ? 'Valor' : vm.l.status.confirmado ? 'Valor efetivo' : 'Valor previsto'}}&nbsp;(<mdw-moeda conta=vm.l.conta></mdw-moeda>
                                )
                            </label>
                            <input ng-disabled="vm.l.detalhes.length > 0" type=text name=valor ng-model=vm.l.valor ui-money-mask currency-symbol ui-validate="{valor : '$value != 0' }" md-autofocus required>
                            <div ng-messages=form.valor.$error role=alert>
                                <div ng-message=required>Campo obrigatório</div>
                                <div ng-message=valor>Informe um valor diferente de zero</div>
                            </div>
                        </md-input-container>
                        <mdw-calculator hide-xs onupdate=vm.l.valor></mdw-calculator>
                    </div>
                    <div flex-gt-xs="{{vm.configuracoesService.utilizacao.dataCompetencia && !vm.edicaoCartao && vm.l.tipo != 't' && (vm.l.dataReconhecimento || vm.reconhecer || vm.l.status.confirmado || (!vm.l.agenda && !vm.l.parcela) || (vm.l.agenda && vm.l.agenda.quantidade != -1) || (vm.l.parcela && vm.l.parcela != 'fixa')) && (!vm.estornar || vm.l.dataCompetencia) ? 66 : 50 }}" layout=row>
                        <md-input-container flex ng-if=vm.l.parcelas>
                            <label ng-if=!vm.edicaoCartao>Data {{vm.l.agenda.inicial}}ª parcela</label>
                            <label ng-if=vm.edicaoCartao>Data da compra</label>
                            <input disabled name=data mdw-date-format date-time ng-model=vm.l.data view=date min-view=date max-view=year format=DD/MM/YYYY position=absolute auto-close=true>
                        </md-input-container>
                        <md-input-container flex ng-if=!vm.l.parcelas>
                            <label>{{vm.edicaoCartao ? (vm.l.agenda.quantidade==-1 ? 'Data ocorrência' : vm.l.tipo == 't' ? 'Data' : 'Data') : !vm.edicao ? 'Data' : vm.l.status.confirmado ? 'Data efetiva' : 'Data prevista'}}</label>
                            <input name=data required mdw-date-format date-time ng-model=vm.l.data view=date min-view=date max-view=year format=DD/MM/YYYY position=absolute auto-close=true>
                            <div ng-messages=form.data.$error role=alert>
                                <div ng-message=required>Campo obrigatório</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex ng-if="vm.configuracoesService.utilizacao.dataCompetencia && !vm.edicaoCartao && vm.l.tipo != 't' && (vm.l.dataReconhecimento || vm.reconhecer || vm.l.status.confirmado || (!vm.l.agenda && !vm.l.parcela) || (vm.l.agenda && vm.l.agenda.quantidade != -1 && vm.l.agenda.repeticao != 'f') || (vm.l.parcela && vm.l.parcela != 'fixa')) && (!vm.estornar || vm.l.dataCompetencia)">
                            <label>Competência</label>
                            <input ng-disabled=vm.estornar name=data_competencia ng-required="vm.reconhecer || !vm.l.agenda || vm.l.status.confirmado" mdw-date-format date-time ng-model=vm.l.dataCompetencia view=date min-view=date max-view=year format=DD/MM/YYYY position=absolute auto-close=true>
                            <div ng-messages=form.data_competencia.$error role=alert>
                                <div ng-message=required>Campo obrigatório</div>
                            </div>
                        </md-input-container>
                        <md-input-container class=has-help ng-if=vm.criacao style="width: 105px;">
                            <label>Repetição</label>
                            <md-select ng-model=vm.l.agenda.repeticao>
                                <md-option value=u>Única</md-option>
                                <md-option value=p>Parcelada</md-option>
                                <md-option value=f>Fixa</md-option>
                            </md-select>
                            <md-icon class=mdw-help-icon>
                                help
                                <md-tooltip class=mline md-direction=top>
                                    Única: sem previsão de se repetir.<br>
                                    Parcelada: com repetição e data final conhecidos.<br>Fixa: com repetição conhecida mas data final desconhecida.
                                </md-tooltip>
                            </md-icon>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div ng-if="vm.l.agenda.repeticao != 'u' && vm.criacao" layout=row>
                <md-input-container flex>
                    <label>Periodicidade</label>
                    <md-select ng-model=vm.l.agenda.intervalo ng-disabled="vm.opcaoParcelamento == 3" required>
                        <md-option value=d>diária</md-option>
                        <md-option value=w>semanal</md-option>
                        <md-option value=M>mensal</md-option>
                        <md-option value=y>anual</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex ng-if="vm.l.agenda.repeticao == 'f'">
                    <label>
                        Repete-se a cada <em>n</em>
                        {{vm.labelIntervaloRepeticao(vm.l.agenda.intervalo)}}
                    </label>
                    <input name=frequencia type=number ng-model=vm.l.agenda.frequencia min=1 required>
                </md-input-container>
                <md-input-container flex ng-if="vm.l.agenda.repeticao == 'p'">
                    <label>Número de parcelas</label>
                    <input type=number ng-model=vm.l.agenda.quantidade min=2 required ng-disabled="vm.opcaoParcelamento == 3">
                </md-input-container>
                <div layout=row layout-align="center center" ng-if="vm.l.agenda.repeticao == 'p' || vm.l.agenda.repeticao == 'f'">
                    <a ng-if=vm.criacao href ng-click=vm.opcoesParcelamento() class=btn-repetir layout=row layout-align="start start">
                        <span>{{ vm.textoParcelamento()}}</span>
                        <md-icon>settings</md-icon>
                        <md-tooltip md-direction=bottom>Personalizar</md-tooltip>
                    </a>
                </div>
            </div>
            <div layout=column ng-if="vm.l.tipo != 'g'">
                <div layout=column layout-gt-xs=row layout-wrap>
                    <div layout=row flex=50>
                        <mdw-regras-autocomplete ng-if="::(!vm.estornar && !vm.edicao)" flex ng-model=vm.l filter=vm.l.tipo has-selected=vm.hasSelectedRegra></mdw-regras-autocomplete>
                        <md-input-container flex ng-if="::(vm.estornar || vm.edicao)">
                            <label>Descrição</label>
                            <input type=text name=descricao ng-model=vm.l.descricao md-maxlength=200>
                        </md-input-container>
                    </div>
                    <div ng-if="vm.l.tipo=='t'" flex=50 mdw-select=categorias lancamento=vm.l placeholder=Tipo ng-model=vm.l.categoria name=categoria required ng-disabled="!vm.l.tipo || vm.estornar" btn-novo=false></div>
                    <div ng-if="vm.l.tipo != 't'" flex=50 mdw-select=contas ng-model=vm.l.conta lancamento=vm.l ng-disabled=!!vm.l.fatura placeholder=Conta name=conta required></div>
                    <mdw-meta-economia-select ng-if="vm.l.tipo != 't'" ng-disabled="vm.l.idMeta || vm.estornar" mdw-plano-has=metas ng-model=vm.l.metaEconomia conta=vm.l.conta flex=50></mdw-meta-economia-select>
                    <div ng-if='vm.l.tipo == "t"' flex=50 mdw-select=contasO lancamento=vm.l datasource=contas service=contas placeholder="Conta origem" ng-model=vm.l.contaOrigem name=contaOrigem ng-disabled=!!vm.l.fatura required></div>
                    <mdw-meta-economia-select ng-if="vm.l.tipo == 't'" mdw-plano-has=metas ng-disabled=vm.estornar ng-model=vm.l.metaEconomiaOrigem conta=vm.l.contaOrigem flex=50></mdw-meta-economia-select>
                    <div ng-if="vm.l.tipo!='t'" flex=50 mdw-select=categorias lancamento=vm.l placeholder=Categoria ng-model=vm.l.categoria name=categoria required ng-disabled="!vm.l.tipo || vm.estornar" btn-novo=true></div>
                    <div ng-if=vm.edicaoCartao flex=50 mdw-select=plasticos ng-disabled=vm.estornar placeholder=Cartão ng-model=vm.l.plastico filter="{conta : vm.l.conta}" default-values="{tipo : 'T'}" btn-novo=false hide-empty=true required></div>
                    <md-input-container ng-if="vm.edicaoCartao && (!vm.agenda || vm.agenda.quantidade != -1)" flex=50>
                        <label ng-if="vm.l.parcelas && vm.l.agenda.inicial != 1">Lançar {{vm.l.agenda.inicial}}ª parcela na fatura de</label>
                        <label ng-if="!vm.l.parcelas || vm.l.agenda.inicial == 1">Lançar na fatura de</label>
                        <input name=data_fatura required mdw-date-format date-time ng-model=vm.l.dataPrevista view=month min-view=month max-view=month format="MMMM [de] YYYY" position=absolute auto-close=true>
                        <div ng-messages=form.data_fatura.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <div ng-if='vm.l.tipo == "t"' flex=50 mdw-select=contasD filter=vm.filtrarContasT lancamento=vm.l datasource=contas service=contas placeholder="Conta destino" ng-model=vm.l.contaDestino name=contaDestino required></div>
                    <div layout=row layout-align="start start" flex=50 ng-if=vm.verificarMoedaTransf()>
                        <md-input-container flex>
                            <label>
                                Valor destino &nbsp;(<mdw-moeda conta=vm.l.contaDestino></mdw-moeda>
                                )
                            </label>
                            <input type=text name=valor_destino ng-model=vm.l.valorT ui-money-mask currency-symbol ui-validate="{valor : '$value != 0' }" md-autofocus required>
                            <div ng-messages=form.valor_destino.$error role=alert>
                                <div ng-message=required>Campo obrigatório</div>
                            </div>
                        </md-input-container>
                        <div style="max-width: 130px; margin-left: 5px;">
                            Taxa de conversão: <span>{{ (vm.l.valor &&vm.l.valorT ? vm.l.valor / vm.l.valorT : 0) | currency : (vm.l.contaOrigem | moedaConta) + " " }}</span>
                        </div>
                    </div>
                    <md-input-container ng-if="vm.edicaoCartaoDestino && !vm.conciliacao && (!vm.agenda || vm.agenda.quantidade != -1)" flex=50>
                        <label>Lançar na fatura de</label>
                        <input name=data_fatura_destino required mdw-date-format date-time ng-model=vm.l.dataPrevistaDestino view=month min-view=month max-view=month format="MMMM [de] YYYY" position=absolute auto-close=true>
                        <div ng-messages=form.data_fatura_destino.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <mdw-meta-economia-select ng-if="vm.l.tipo == 't'" mdw-plano-has=metas ng-model=vm.l.metaEconomiaDestino conta=vm.l.contaDestino ng-disabled=vm.estornar flex=50></mdw-meta-economia-select>
                    <div flex=50 ng-if='vm.l.tipo != "t" && vm.configuracoesService.utilizacao.contatos' name=contato mdw-plano-has=contatos mdw-select=contatos opt-none placeholder=Contato ng-model=vm.l.contato ng-disabled=vm.estornar ng-required="vm.perm.contatos && vm.configuracoesService.utilizacao.contatosO"></div>
                    <div flex=50 ng-if='vm.l.tipo != "t" && vm.configuracoesService.utilizacao.centros' name=centro mdw-plano-has=centros mdw-select=centros opt-none placeholder=Centro ng-model=vm.l.centro ng-required="vm.perm.centros && vm.configuracoesService.utilizacao.centrosO" ng-disabled=vm.estornar></div>
                    <div flex=50 ng-if='vm.l.tipo != "t" && vm.configuracoesService.utilizacao.projetos' name=projeto mdw-plano-has=projetos mdw-select=projetos opt-none placeholder=Projeto ng-model=vm.l.projeto ng-required="vm.perm.projetos && vm.configuracoesService.utilizacao.projetosO" ng-disabled=vm.estornar></div>
                    <div flex=50 ng-if="!vm.edicaoCartao && vm.configuracoesService.utilizacao.formas" name=form mdw-plano-has=formas mdw-select=formas opt-none placeholder="Forma de pagamento" ng-model=vm.l.forma ng-disabled=vm.estornar ng-required="vm.perm.formas && vm.configuracoesService.utilizacao.formasO"></div>
                    <md-input-container flex=50 ng-if=vm.configuracoesService.utilizacao.ndocumento>
                        <label>Número de documento</label>
                        <input type=text ng-required=vm.configuracoesService.utilizacao.ndocumentoO name=ndocumento ng-model=vm.l.ndocumento md-maxlength=60>
                        <div ng-messages=form.ndocumento.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex=100 ng-if=vm.configuracoesService.utilizacao.observacoes>
                        <label>Observações</label>
                        <textarea name=observacoes ng-model=vm.l.observacoes max-rows=5 md-maxlength=400></textarea>
                        <div ng-messages=form.observacoes.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <div flex=100 ng-if=vm.configuracoesService.utilizacao.tags mdw-select-chips=tags placeholder=Tags onlyactive optadd ng-model=vm.l.tags></div>
                </div>
                <md-switch ng-if="vm.criacao && !vm.estornar && !vm.clonar && !vm.hasSelectedRegra && vm.l.descricao.length > 0 && vm.gerarRegras" ng-model=vm.criarRegra>Criar nova regra de preenchimento com as informações acima</md-switch>
            </div>
            <div layout=column ng-if="vm.l.tipo == 'g'">
                <div layout=row layout-wrap>
                    <md-input-container flex=50>
                        <label>Descrição</label>
                        <input type=text name=descricao ng-model=vm.l.descricao md-maxlength=200>
                    </md-input-container>
                    <div ng-if="vm.l.tipo != 't' && (!vm.edicaoCartao || !vm.conciliacao)" flex=50 mdw-select=contas placeholder=Conta ng-model=vm.l.conta ng-disabled=!!vm.l.fatura name=conta required></div>
                    <div ng-if="vm.edicaoCartao && !vm.conciliacao" flex=50 mdw-select=plasticos placeholder=Cartão ng-model=vm.l.plastico filter="{'conta' : vm.l.conta}" default-values="{tipo : 'T'}" btn-novo=false hide-empty=true required ng-disabled=vm.estornar></div>
                    <md-input-container flex=50 ng-if="vm.edicaoCartao && !vm.conciliacao && (!vm.agenda || vm.agenda.quantidade != -1)">
                        <label ng-if="vm.l.parcelas && vm.l.agenda.inicial != 1">Lançar {{vm.l.agenda.inicial}}ª parcela na fatura de</label>
                        <label ng-if="!vm.l.parcelas || vm.l.agenda.inicial == 1">Lançar na fatura de</label>
                        <input name=data required mdw-date-format date-time ng-model=vm.l.dataPrevista view=month min-view=month max-view=month format="MMMM [de] YYYY" position=absolute auto-close=true>
                    </md-input-container>
                    <div flex=50 ng-if="!vm.edicaoCartao && vm.configuracoesService.utilizacao.formas" mdw-select=formas opt-none placeholder="Forma de pagamento" ng-model=vm.l.forma ng-required="vm.perm.formas && vm.configuracoesService.utilizacao.formasO"></div>
                    <md-input-container flex=50 ng-if=vm.configuracoesService.utilizacao.ndocumento>
                        <label>Número de documento</label>
                        <input ng-required=vm.configuracoesService.utilizacao.ndocumentoO type=text name=ndocumento ng-model=vm.l.ndocumento md-maxlength=60>
                        <div ng-messages=form.ndocumento.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex=100 ng-if=vm.configuracoesService.utilizacao.observacoes>
                        <label>Observações</label>
                        <textarea name=observacoes ng-model=vm.l.observacoes max-rows=5 md-maxlength=400></textarea>
                        <div ng-messages=form.observacoes.$error role=alert>
                            <div ng-message=required>Campo obrigatório</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout=column>
                    <div ng-if="vm.l.detalhes.length > 0 && !vm.l.grupoIrregular">
                        <strong>Detalhes do lançamento</strong>
                        <a href class=link-light-blue ng-click=vm.detalharLancamento() ng-if=!vm.estornar>Incluir detalhes</a>
                    </div>
                    <div ng-if="vm.l.detalhes.length == 0 && !vm.estornar">
                        <md-button class="md-accent md-raised" ng-click=vm.detalharLancamento() layout=row>
                            <md-icon>add</md-icon>
                            Incluir detalhes
                        </md-button>
                    </div>
                    <div layout=column class=grupo>
                        <div ng-repeat="ld in vm.l.detalhes" layout=row layout-align="start center" class=lancamento-grupo>
                            <div flex>
                                <div class=descricao>{{ld.descricao}}</div>
                                <div layout=row layout-align="start center">
                                    <span class="mdw-chip chip-cadastro" mdw-nome-cadastro=contas ng-model=ld.contaT placeholder="'-'" label="{{ ld.valor > 0 ? 'conta origem' : 'conta destino' }}"></span>
                                    <span class="mdw-chip chip-cadastro" mdw-nome-cadastro=categorias ng-model=ld.categoria placeholder="'-'" label=categoria></span>
                                    <span class="mdw-chip chip-cadastro" mdw-nome-cadastro=centros ng-model=ld.centro placeholder="'-'" label=centro></span>
                                    <span class="mdw-chip chip-cadastro" mdw-nome-cadastro=contatos ng-model=ld.contato placeholder="'-'" label="{{ ld.valor > 0 ? 'pagador' : 'recebedor' }}"></span>
                                    <mdw-chips-cadastros-lancamento ng-model=ld tipo=tags></mdw-chips-cadastros-lancamento>
                                </div>
                            </div>
                            <input type=text ng-model=ld.valor ui-money-mask ng-class="{negativo : ld.tipoL == 'd' || ld.tipoL == 'td' || ld.tipoL == 'er' , positivo : ld.tipoL == 'r' || ld.tipoL == 'to' || ld.tipoL == 'ed'}">
                            <md-button class="md-icon-button mdw-btn-xs" ng-click=vm.detalharLancamento($index) ng-if=!vm.estornar>
                                <md-tooltip>Editar detalhe</md-tooltip>
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button mdw-btn-xs" ng-click=vm.estornarDetalheLancamento($index) ng-if=vm.estornar>
                                <md-tooltip>Estornar apenas este detalhe</md-tooltip>
                                <md-icon>restore_page</md-icon>
                            </md-button>
                            <md-button class="md-icon-button mdw-btn-xs" ng-click=vm.excluirDetalheLancamento($index) ng-if=!vm.l.grupoIrregular>
                                <md-tooltip>Excluir detalhe</md-tooltip>
                                <md-icon>delete</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div layout=row>
                <div class=badge-anexo layout=row layout-align="start end" ng-repeat="documento in vm.anexos">
                    <a ng-href={{documento.previewUrl}} target=_blank>{{documento | nomeDocumento}}</a>
                    <md-icon ng-click=vm.unlinkAnexo(documento)>cancel</md-icon>
                </div>
            </div>
            <md-switch ng-if="(vm.confirmacao || vm.conciliacao) && vm.calcularResiduo() > 0" ng-model=vm.gerarResiduo>Gerar lançamento com resíduo desta {{vm.confirmacao ? 'confirmação' : 'conciliação'}}</md-switch>
            <div class=lembretes ng-class='{"visible" : vm.displayLembretes && (vm.posicaoData > 0 || vm.l.agenda)}' ng-style='{left: vm.displayLembretes + "px"}'>
                <span class=caret></span>
                <div layout=row layout-align="start center">
                    <input type=checkbox ng-model=vm.enviarLembrete ng-change="vm.displayLembretes=0">
                    <div>Receber lembretes</div>
                    <md-select flex ng-model=vm.l.lembrete ng-disabled=!vm.enviarLembrete ng-change="vm.displayLembretes=0">
                        <md-option value=0>no dia</md-option>
                        <md-option ng-if="vm.posicaoData > 1 || vm.l.agenda" value=1>1 dia antes</md-option>
                        <md-option ng-if="vm.posicaoData > 2 || vm.l.agenda" value=2>2 dias antes</md-option>
                        <md-option ng-if="vm.posicaoData > 3 || vm.l.agenda" value=3>3 dias antes</md-option>
                        <md-option ng-if="vm.posicaoData > 4 || vm.l.agenda" value=4>4 dias antes</md-option>
                        <md-option ng-if="vm.posicaoData > 5 || vm.l.agenda" value=5>5 dias antes</md-option>
                    </md-select>
                </div>
            </div>
        </md-dialog-content>
        <mdw-dialog-actions class=actions>
            <div ng-if="vm.l.tipo=='g' && vm.diferencaDetalhes() != 0">
                Diferença a detalhar: {{vm.diferencaDetalhes() | currency}} <a href class="link-light-blue hover" ng-click=vm.ajustarValorDetalhes()>Ajustar valor total</a>
            </div>
            <div flex layout=row layout-align="end center" ng-if="vm.l.tipo!='g' || vm.diferencaDetalhes() == 0">
                <div layout=row layout-align="center center" class=main-actions>
                    <md-button class="md-icon-button confirmacao bgstatus" ng-click=vm.toggleConfirmar() ng-class='{"active" : vm.l.status.confirmado}' ng-if="!vm.edicaoCartao && !vm.confirmacao">
                        <md-tooltip md-direction=top>{{vm.l.status.confirmado ? 'Confirmado' : 'Marcar como confirmado'}}</md-tooltip>
                        <div class=active-bg>
                            <md-icon>done</md-icon>
                        </div>
                    </md-button>
                    <md-button class="md-icon-button conciliacao bgstatus" ng-click=vm.toggleConciliar() ng-class='{"active" : vm.l.status.conciliado}' ng-if=!vm.conciliacao ng-hide="!vm.edicao && vm.isFaturaFechada()">
                        <md-tooltip md-direction=top>{{vm.l.status.conciliado ? 'Conciliado' : 'Marcar como conciliado'}}</md-tooltip>
                        <div class=active-bg>
                            <md-icon>done_all</md-icon>
                        </div>
                    </md-button>
                </div>
                <md-button class=md-icon-button ng-click=vm.toggleLembretes($event) ng-class='{"active" : vm.enviarLembrete}' ng-if='!vm.confirmacao && !vm.edicaoCartao && !vm.l.status.confirmado && ( vm.posicaoData > 0 || vm.l.agenda.repeticao != "u")'>
                    <span class="badge count-badge">{{vm.l.lembrete}}</span>
                    <md-tooltip md-direction=top>{{!vm.enviarLembrete ? 'Receber lembrete' : 'Lembretes serão enviados ' + (vm.l.lembrete == 0 ? "no dia" : vm.l.lembrete + " dia" + (vm.l.lembrete == 1 ? "" : "s") + " antes")}}</md-tooltip>
                    <md-icon>add_alert</md-icon>
                </md-button>
                <md-button mdw-func-perm-v=outros.documentos class=md-icon-button ng-class="{'active' : vm.l.anexos.length > 0}" ng-click=vm.anexarDocumentos()>
                    <span class="badge count-badge">{{vm.l.anexos.length}}</span>
                    <md-tooltip md-direction=top>Anexar documentos</md-tooltip>
                    <md-icon>attach_file</md-icon>
                </md-button>
                <md-button class=md-icon-button ng-class="{active : vm.l.exibirCp}" ng-click='vm.toggleOpcao("exibirCp")' ng-if="!vm.confirmacao && !vm.edicaoCartao && !vm.l.status.confirmado && ( (vm.l.tipo == 'd' || vm.l.tipo == 't' || (vm.l.tipo == 'g' && vm.l.detalhes.length > 0 && vm.l.valor < 0)) && (!vm.l.status.confirmado || vm.posicaoData > 0 || vm.l.agenda.repeticao != 'u'))">
                    <span class=badge>P</span>
                    <md-tooltip md-direction=top>{{vm.l.exibirCp ? 'Exibido no contas a pagar' : 'Não exibido no contas a pagar'}}</md-tooltip>
                    <md-icon>{{vm.l.exibirCp ? 'visibility' : 'visibility_off'}}</md-icon>
                </md-button>
                <md-button class=md-icon-button ng-class="{active : vm.l.exibirCr}" ng-click='vm.toggleOpcao("exibirCr")' ng-if="!vm.confirmacao && ((vm.l.tipo != 't' && !vm.edicaoCartao) || (vm.l.tipo == 't' && !vm.edicaoCartaoDestino)) && !vm.l.status.confirmado && ((vm.l.tipo == 'r' || vm.l.tipo == 't'|| (vm.l.tipo == 'g' && vm.l.detalhes.length > 0 && vm.l.valor > 0)) && (!vm.l.status.confirmado || vm.posicaoData > 0 || vm.l.agenda.repeticao != 'u'))">
                    <span class=badge>R</span>
                    <md-tooltip md-direction=top>{{vm.l.exibirCr ? 'Exibido no contas a receber' : 'Não exibido no contas a receber'}}</md-tooltip>
                    <md-icon>{{vm.l.exibirCr ? 'visibility' : 'visibility_off'}}</md-icon>
                </md-button>
                <md-button ng-if="!vm.confirmacao && !vm.edicaoCartao && !vm.l.status.confirmado && (vm.posicaoData > 0 || vm.l.agenda.repeticao != 'u')" class=md-icon-button ng-click='vm.toggleOpcao("automatico")' ng-class='{"active" : vm.l.automatico}'>
                    <md-tooltip md-direction=top>Confirmar automaticamente na data prevista</md-tooltip>
                    <md-icon>spellcheck</md-icon>
                </md-button>
                <span flex></span>
                <div ng-if="::(vm.criacao && !vm.estornar)" class=btn-salvar-continuar ng-class="{disabled : !vm.validate(true) || vm.salvando}">
                    <md-button type=submit class="md-raised md-primary" ng-click=vm.ok() ng-disabled="!vm.validate(true) || vm.salvando">
                        Salvar<md-tooltip md-direction=top>Salvar ({{vm.scSalvar}})</md-tooltip>
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click=vm.ok(true) ng-disabled="!vm.validate(true) || vm.salvando">
                        <md-icon>add</md-icon>
                        <md-tooltip md-direction=top>Salvar e continuar ({{vm.scSalvarContinuar}})</md-tooltip>
                    </md-button>
                </div>
                <div ng-if="::(!vm.criacao || vm.estornar)">
                    <md-button type=submit class="md-raised md-primary" ng-click=vm.ok() ng-disabled="!vm.validate(true) || vm.salvando">
                        {{ vm.acao.conciliar ? 'Conciliar' : vm.confirmacao ? 'Confirmar' : 'Salvar' }}<md-tooltip md-direction=top>{{ vm.acao.conciliar ? 'Conciliar' : vm.confirmacao ? 'Confirmar' : 'Salvar' }} ({{vm.scSalvar}})</md-tooltip>
                    </md-button>
                </div>
            </div>
        </mdw-dialog-actions>
    </form>
</md-dialog>
