<div>
    <br>
    <button type="button" class="btn btn-sm btn-warning" onclick="goto('/')"><i class="fas fa-arrow-left"></i> Voltar</button>
    <br>
    <style>
        .btn-primary {
            padding-top: 25px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            height: 75px;
            vertical-align: middle;
            line-height: 16px;
            line-break: auto;
            word-break: break-all;
            background-color: #003641;
            border-color: #c5d20e;
            box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
        }
        .btn-primary:hover {
            background-color: #003641;
            opacity: 0.8;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1>TI</h1>
                    <div class="row"></div>
                    <a href="#/ti/impressoras" class="col-md-2 col-xs-4 btn btn-sm btn-primary" >Impressoras</a>
                    <a href="http://clcoop.sicoobsc.com.br/" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">CLCOOP</a>
                    <a href="https://meupainel.sicoobsc.com.br/sistemas/painel/usuario/listar" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">MEU PAINEL</a>
                    <a href="https://web.sipag.com.br/sipagnet/emi/site " class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">SIPAGNET</a>
                    <a href="https://scbpgc3258.sicoobapps.com.br/auth/" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">PORTAL DE GOVERNANÇA</a>
                    <a href="https://saec.consiglog.com.br/Login.aspx" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">Prefeitura Florianópolis<br>(ConsigLog)</a>
                    <a href="https://econsig.com.br/tjsc/v3/autenticarUsuario#no-back " class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">Tribunal de Justiça/SC</a>
                    <a href="https://www1.consignet.com.br/DB1Consignet/" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">Câmara de Vereadores</a>
                    <a href="http://sigrhconsig.sea.sc.gov.br/SIGRHConsig/login" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">SigRH</a>
                    <a href="https://sigen.cidasc.sc.gov.br/Account/LogOn" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">Sigen (cidasc)</a>
                    <a href="https://www.consigsimples.com.br/consigsaojoseprev/Login.aspx" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">ConsigSimples (Aposentado)</a>
                    <a href="https://www.consigsimples.com.br/consigsaojose/Login.aspx" class="col-md-2 col-xs-4 btn btn-sm btn-primary" target="_blank">ConsigSimples (Ativos)</a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>