<div class=mdw-mensagem-cortesia ng-class="{visible : $ctrl.shouldShow}">
    <div ng-if=$ctrl.shouldShow>
        <span ng-if="$ctrl.dias > 0">Você ainda possui {{$ctrl.dias}} dia{{$ctrl.dias > 1 ? 's' : ''}} de experiência no {{$ctrl.invest ? 'Módulo de Investimentos' : 'plano ' + $ctrl.nomePlano}}.</span>
        <span ng-if="$ctrl.dias == 0">Seu período de experiência no plano {{$ctrl.nomePlano}} termina hoje.</span>
        <md-button hide-xs class="md-raised md-accent" ui-sref=assinatura>Assinar agora</md-button>
        <div class=extra-actions hide-xs hide-sm>
            <md-button ng-click=$ctrl.saibaMais()>Saiba mais</md-button>
            <md-button ng-click=$ctrl.hide()>Fechar</md-button>
        </div>
    </div>
</div>
