<div>
    <br>
    
    <button type="button" class="btn btn-sm btn-warning" onclick="goto('/manuais')"><i class="fas fa-arrow-left"></i> Voltar</button>
    
    <br>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h2 align="center">Downloads</h2>

            <a href="https://cdn.stubdownloader.services.mozilla.com/builds/firefox-stub/pt-BR/win/da1d25e769c3116e0defb17ec5ec0bc1b0403d105211c4cdda30349354b0ff86/Firefox%20Installer.exe" target="_blank">Navegador Firefox</a>
        </div>
    </div>
</div>