<div class="row">
    <div class="col-md-12">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex align-items-center justify-content-between">
                        <div class="page_title_left">
                            <h3 class="f_s_30 f_w_700 text_white">Dashboard</h3>
                            <ol class="breadcrumb page_bradcam mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Product</li>
                            </ol>
                        </div>
                        <a href="#" class="white_btn3">Create Report</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/img-5.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/img-2.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/02.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/img-1.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/img-4.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/img-5.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/img-5.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="white_card position-relative mb_20 ">
                        <div class="card-body">
                            <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                            </div>
                            <!--end ribbon--><img src="img/products/02.png" alt="" class="d-block mx-auto my-4" height="150">
                            <div class="row my-4">
                                <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                        class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                                <div class="col-auto">
                                    <h4 class="text-dark mt-0">$49.00 <small
                                            class="text-muted font-14"><del>$99.00</del></small></h4>
                                    <ul class="list-inline mb-0 product-review align-self-center">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn_2 btn-block">Add To Cart</button>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>