<div class="container-fluid p-0 ">
    <!-- page title  -->
    <div class="row">
        <div class="col-12">
            <div class="page_title_box d-flex align-items-center justify-content-between">
                <div class="page_title_left">
                    <h3 class="f_s_30 f_w_700 text_white">Dashboard</h3>
                    <ol class="breadcrumb page_bradcam mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ol>
                </div>
                <a href="#" class="white_btn3">Create Report</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="white_card">
                <div class="white_card_header border_bottom_1px">
                    <h4 class="card-title mb-0">Order Summary</h4>
                </div>
                <!--end white_card_header border_bottom_1px-->
                <div class="card-body">
                    <div class="table-responsive shopping-cart">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Product</th>
                                    <th class="border-top-0">Quantity</th>
                                    <th class="border-top-0">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="img/products/img-5.png" alt="" height="52">
                                        <p
                                            class="d-inline-block align-middle mb-0 product-name f_s_16 f_w_600 color_theme2">
                                            Reebok Shoes</p>
                                    </td>
                                    <td>2</td>
                                    <td>$198</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="img/products/01.png" alt="" height="52">
                                        <p
                                            class="d-inline-block align-middle mb-0 product-name f_s_16 f_w_600 color_theme2">
                                            White Morden Camera</p>
                                    </td>
                                    <td>2</td>
                                    <td>$150</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="img/products/img-4.png" alt="" height="52">
                                        <p
                                            class="d-inline-block align-middle mb-0 product-name f_s_16 f_w_600 color_theme2">
                                            Lava Purse</p>
                                    </td>
                                    <td>1</td>
                                    <td>$49</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="img/products/02.png" alt="" height="52">
                                        <p
                                            class="d-inline-block align-middle mb-0 product-name f_s_16 f_w_600 color_theme2">
                                            Important Shoes</p>
                                    </td>
                                    <td>1</td>
                                    <td>$99</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Total :</h6>
                                    </td>
                                    <td></td>
                                    <td class="text-dark"><strong>$496</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end re-table-->
                    <div class="total-payment">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="payment-title">Subtotal</td>
                                    <td>$496.00</td>
                                </tr>
                                <tr>
                                    <td class="payment-title">Shipping</td>
                                    <td>Shipping Charge : $5.00</td>
                                </tr>
                                <tr>
                                    <td class="payment-title">Promo Code</td>
                                    <td>-$10.00</td>
                                </tr>
                                <tr>
                                    <td class="payment-title">Total</td>
                                    <td class="text-dark"><strong>$491.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                    <!--end total-payment-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <div class="col-lg-4">
            <div class="white_card">
                <div class="white_card_header border_bottom_1px">
                    <h4 class="card-title mb-0">Delivery Address</h4>
                </div>
                <!--end white_card_header border_bottom_1px-->
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                        <div class="col-lg-9 col-xl-8"><input class="form-control" type="text" id="firstname"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                        <div class="col-lg-9 col-xl-8"><input class="form-control" type="text" id="lastname"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Delivery Address</label>
                        <div class="col-lg-9 col-xl-8"><textarea class="form-control" rows="3"></textarea></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">City</label>
                        <div class="col-lg-9 col-xl-8"><input class="form-control" type="text" id="city"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">State</label>
                        <div class="col-lg-9 col-xl-8">
                            <select class="form-control">
                                <option>Select</option>
                                <option>Gujarat</option>
                                <option>New york</option>
                                <option>California</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Country</label>
                        <div class="col-lg-9 col-xl-8">
                            <select class="form-control">
                                <option>Select</option>
                                <option>India</option>
                                <option>USA</option>
                                <option>New Zealand</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Zip Code</label>
                        <div class="col-lg-9 col-xl-8"><input class="form-control" type="text"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
                        <div class="col-lg-9 col-xl-8"><input class="form-control" type="text"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Mobile No</label>
                        <div class="col-lg-9 col-xl-8"><input class="form-control" type="text"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-9 col-xl-8 offset-lg-3 offset-xl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="horizontalCheckbox"
                                    data-parsley-multiple="groups" data-parsley-mincheck="2">
                                <label class="custom-control-label" for="horizontalCheckbox">Confirm Shipping
                                    Address</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <div class="col-lg-4">
            <div class="white_card">
                <div class="white_card_header border_bottom_1px">
                    <h4 class="card-title mb-0">Billing Details</h4>
                </div>
                <!--end white_card_header border_bottom_1px-->
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card border mb-1 shadow-none">
                            <div class="white_card_header border_bottom_1px custom-accordion" id="headingOne">
                                <a href="" class="text-dark d-flex justify-content-between" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="align-self-center">Credit Card</span> <img src="img/card/card-2.png"
                                        alt="" height="30">
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample" style="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"><label for="Card_No">Card No :</label> <input
                                                    type="text" class="form-control" id="Card_No" required=""
                                                    placeholder="1234-5678-9123-4567"></div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-4">
                                            <div class="form-group mb-lg-0">
                                                <label for="select_month" class="mr-2">Expiry Month</label>
                                                <select class="custom-select" id="select_month">
                                                    <option selected="">-- Select --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-4">
                                            <div class="form-group mb-lg-0">
                                                <label for="select_year" class="mr-2">Expiry Year</label>
                                                <select class="custom-select" id="select_year">
                                                    <option selected="">-- Select --</option>
                                                    <option value="1">2020</option>
                                                    <option value="2">2021</option>
                                                    <option value="3">2022</option>
                                                    <option value="4">2023</option>
                                                    <option value="5">2024</option>
                                                    <option value="6">2025</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-4">
                                            <div class="form-group mb-lg-0"><label for="CVV_Code">Security Code</label>
                                                <input type="password" class="form-control" id="CVV_Code" required=""
                                                    placeholder="Enter CVV"></div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end collapseOne-->
                        </div>
                        <!--end card-->
                        <div class="card mb-1 border shadow-none">
                            <div class="white_card_header border_bottom_1px" id="headingTwo">
                                <a href="" class="text-dark d-flex justify-content-between collapsed"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <span class="align-self-center">Paypal</span> <img src="img/card/card-5.png" alt=""
                                        height="30">
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="mb-0 text-muted">Add Paypal form page</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn_1 mt-1 mb-1 w-100">PLACE YOUR ORDER</button>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>

</div>