<div class="container-fluid p-0 ">
    <!-- page title  -->
    <div class="row">
        <div class="col-12">
            <div class="page_title_box d-flex align-items-center justify-content-between">
                <div class="page_title_left">
                    <h3 class="f_s_30 f_w_700 text_white">Dashboard</h3>
                    <ol class="breadcrumb page_bradcam mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item active">Product Details</li>
                    </ol>
                </div>
                <a href="#" class="white_btn3">Create Report</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="white_card position-relative mb_20">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <img src="img/products/01.png" alt="" class="mx-auto d-block sm_w_100" height="300">
                        </div>
                        <!--end col-->
                        <div class="col-lg-6 align-self-center">
                            <div class="single-pro-detail">
                                <p class="mb-1">Dastyle</p>
                                <div class="custom-border mb-3"></div>
                                <h3 class="pro-title">Dastyle Morden Table Camera</h3>
                                <p class="text-muted mb-0">Morden and good look model 2020</p>
                                <ul class="list-inline mb-2 product-review">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star-half text-warning"></i></li>
                                    <li class="list-inline-item">4.5 (9830 reviews)</li>
                                </ul>
                                <h2 class="pro-price">
                                    $89.00 <span><del>$180.00</del></span><span
                                        class="text-danger font-weight-bold ml-2">50% Off</span>
                                </h2>
                                <h6 class="text-muted font_s_13 mt-2 mb-1">Features :</h6>
                                <ul class="list-unstyled pro-features border-0">
                                    <li>It is a long established fact that a reader will be distracted.</li>
                                    <li>Contrary to popular belief, Lorem Ipsum is not text.</li>
                                </ul>
                                <h6 class="text-muted font_s_13 d-inline-block align-middle mr-2">Color :</h6>
                                <div class="radio2 radio-info2 form-check-inline ml-2"><input type="radio"
                                        id="inlineRadio1" value="option1" name="radioInline" checked=""> <label
                                        for="inlineRadio1"></label></div>
                                <div class="radio2 radio-dark2 form-check-inline"><input type="radio" id="inlineRadio2"
                                        value="option2" name="radioInline"> <label for="inlineRadio2"></label></div>
                                <div class="quantity mt-3">
                                    <input class="form-control form-control-sm" type="number" min="0" value="0"
                                        id="example-number-input">
                                    <a href="" class="btn green_bg text-white px-4 d-inline-block "><i
                                            class="fa fa-cart-plus mr-2"></i>Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="white_card position-relative mb_20">
                <div class="card-body">
                    <h5 class="mt-0">Related Products</h5>
                    <p class="text-muted mb-3 font_s_14">There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form, by injected humour, or randomised words
                        which don't look even slightly believable. If you are going to use a passage.</p>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="white_card position-relative mb_20 ">
                <div class="card-body">
                    <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                    </div>
                    <!--end ribbon--><img src="img/products/img-5.png" alt="" class="d-block mx-auto my-4" height="150">
                    <div class="row my-4">
                        <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                        <div class="col-auto">
                            <h4 class="text-dark mt-0">$49.00 <small
                                    class="text-muted font_s_14"><del>$99.00</del></small></h4>
                            <ul class="list-inline mb-0 product-review align-self-center">
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_2  btn-block">Add To Cart</button>
                </div>
                <!--end card-body-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="white_card position-relative mb_20 ">
                <div class="card-body">
                    <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                    </div>
                    <!--end ribbon--><img src="img/products/img-2.png" alt="" class="d-block mx-auto my-4" height="150">
                    <div class="row my-4">
                        <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                        <div class="col-auto">
                            <h4 class="text-dark mt-0">$49.00 <small
                                    class="text-muted font_s_14"><del>$99.00</del></small></h4>
                            <ul class="list-inline mb-0 product-review align-self-center">
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_2 btn-block">Add To Cart</button>
                </div>
                <!--end card-body-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="white_card position-relative mb_20 ">
                <div class="card-body">
                    <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                    </div>
                    <!--end ribbon--><img src="img/products/02.png" alt="" class="d-block mx-auto my-4" height="150">
                    <div class="row my-4">
                        <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                        <div class="col-auto">
                            <h4 class="text-dark mt-0">$49.00 <small
                                    class="text-muted font_s_14"><del>$99.00</del></small></h4>
                            <ul class="list-inline mb-0 product-review align-self-center">
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_2 btn-block">Add To Cart</button>
                </div>
                <!--end card-body-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="white_card position-relative mb_20 ">
                <div class="card-body">
                    <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">50% off</span>
                    </div>
                    <!--end ribbon--><img src="img/products/img-1.png" alt="" class="d-block mx-auto my-4" height="150">
                    <div class="row my-4">
                        <div class="col"><span class="badge_btn_3  mb-1">Life Style</span> <a href="#"
                                class="f_w_400 color_text_3 f_s_14 d-block">Unique Blue Bag</a></div>
                        <div class="col-auto">
                            <h4 class="text-dark mt-0">$49.00 <small
                                    class="text-muted font_s_14"><del>$99.00</del></small></h4>
                            <ul class="list-inline mb-0 product-review align-self-center">
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ml-n2"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ml-n2"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_2 btn-block">Add To Cart</button>
                </div>
                <!--end card-body-->
            </div>
        </div>
    </div>
</div>