<div class="row">
    <div class="col-md-12">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Activities</h5>
                        <p class="card-text">
                            <table class="table table-bordered table-responsive">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th translate>User</th>
                                        <th translate>Title</th>
                                        <th translate>Start Date</th>
                                        <th translate>End Date</th>
                                        <th translate>Progress</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">Dilson Junior</td>
                                            <td>Atividade de Teste 1</td>
                                            <td>20/06/2023</td>
                                            <td>30/06/2023</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>