<div class="row">
    <div class="col-md-12" ng-init="initUserActivities()">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Activities</h5>
                        <p class="card-text">
                            <table class="table table-bordered table-responsive">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th translate>User</th>
                                        <th translate>Title</th>
                                        <th translate>Start Date</th>
                                        <th translate>End Date</th>
                                        <th translate>Progress</th>
                                        <th width="6%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in activitiesList">
                                            <td scope="row">{{ item.nome_usuario }}</td>
                                            <td>{{ item.titulo }}</td>
                                            <td>{{ item.inicio_estimado | date:'dd/MM/yyyy' }}</td>
                                            <td>{{ item.termino_estimado| date:'dd/MM/yyyy' }}</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar" ng-style="{'width' : item.percentual_completo+'%' }" aria-valuenow="{{ item.percentual_completo }}" aria-valuemin="0" aria-valuemax="100">{{ item.percentual_completo }}%</div>
                                                </div>
                                                {{ item.esforco_real }}/{{ item.esforco_estimado }}
                                            </td>
                                            <td>
                                                <i ng-click="apontarHoras(item,'ModalApontamentoAtividade')" class="align-middle" data-feather="clock" title="Apontar Horas"></i>
                                                <i class="align-middle" data-feather="eye" title="Visualizar Atividade"></i>
                                                <i class="align-middle" data-feather="edit" title="Editar Atividade"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        feather.replace()
    </script>
</div>