<div class="card">
    <div class="card-header">
        <div class="card-actions float-end">
            <div class="dropdown position-relative">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                    <i class="align-middle" data-feather="more-horizontal"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <h5 class="card-title mb-0"><span translate>Comments</span> ({{ projectInfo.comments.length }})</h5>
    </div>
    <div class="card-body">
        <div ng-repeat="comment in projectInfo.comments">
            <div class="d-flex align-items-start">
                <img ng-src="{{ comment.foto }}" width="56" height="56" class="rounded-circle me-3" alt="{{ comment.nome }}">
                <div class="flex-grow-1">
                    <small class="float-end">{{ comment.data_cadastro | date:'dd/MM/yyyy HH:mm' }}</small>
                    <p class="mb-2"><strong>{{ comment.nome }}</strong></p>
                    <p ng-bind-html="comment.comentario">
                    </p>
                </div>
            </div>
            <hr>
        </div>

        <ng-quill-editor ng-model="form.description"></ng-quill-editor>
        <button class="btn btn-primary" type="button" ng-click="postProjectComment(form)" translate>Save</button>
        <!--div class="d-flex align-items-start">
            <img src="assets/img/avatars/avatar-5.jpg" width="56" height="56" class="rounded-circle me-3" alt="Ashley Briggs">
            <div class="flex-grow-1">
                <small class="float-end">5m ago</small>
                <p class="mb-2"><strong>Ashley Briggs</strong></p>
                <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                    amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                    vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                <small class="text-muted">Today 7:51 pm</small><br>

                <div class="d-flex align-items-start mt-3">
                    <a class="pe-2" href="#">
                        <img src="assets/img/avatars/avatar-4.jpg" width="36" height="36" class="rounded-circle me-2"
                            alt="Stacie Hall">
                    </a>
                    <div class="flex-grow-1">
                        <p class="text-muted">
                            <strong>Stacie Hall</strong>: Nam pretium turpis et arcu. Duis arcu tortor, suscipit
                            eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices
                            mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="d-flex align-items-start">
            <img src="assets/img/avatars/avatar.jpg" width="56" height="56" class="rounded-circle me-3" alt="Chris Wood">
            <div class="flex-grow-1">
                <small class="float-end">30m ago</small>
                <p class="mb-2"><strong>Chris Wood</strong></p>
                <p>
                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                    amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
                    pulvinar, hendrerit id, lorem.
                </p>
                <small class="text-muted">Today 7:26 pm</small><br>
            </div>
        </div>

        <hr>
        <div class="d-flex align-items-start">
            <img src="assets/img/avatars/avatar-4.jpg" width="56" height="56" class="rounded-circle me-3" alt="Stacie Hall">
            <div class="flex-grow-1">
                <small class="float-end">45m ago</small>
                <p class="mb-2"><strong>Stacie Hall</strong></p>
                <p>
                    Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet
                    iaculis, ipsum. Sed aliquam ultrices mauris.
                </p>
                <small class="text-muted">Today 7:11 pm</small><br>
            </div>
        </div-->
    </div>
</div>