<div>
    <div class="row">
        <div class="col-md-12" ng-init="initAtualizarJogo()">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Atualizar Jogo</h4>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>