<div>
    <style>
        .mdi {
            font-size: 20px !important;
        }
    </style>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link" href="#!/">
                <span class="material-icons align-middle">home</span>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#!/agenda">
                <span class="material-icons align-middle">event</span>
                <span>Agenda</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#!/jogos">
                <span class="material-icons align-middle">list</span>
                <span>Jogos</span>
            </a>
        </li>
    <ul>
</div>