<div class="card">
    <div class="card-header">
        <div class="card-actions float-end">
            <div class="dropdown position-relative">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                    <i class="align-middle" data-feather="more-horizontal"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <h5 class="card-title mb-0"><span translate>Comments</span> ({{ projectInfo.comments.length }})</h5>
    </div>
    <div class="card-body">
        <div ng-repeat="comment in projectInfo.comments">
            <div class="d-flex align-items-start">
                <img ng-src="{{ comment.foto }}" width="56" height="56" class="rounded-circle me-3" alt="{{ comment.nome }}">
                <div class="flex-grow-1">
                    <small class="float-end">{{ comment.data_cadastro | date:'dd/MM/yyyy HH:mm' }}</small>
                    <p class="mb-2"><strong>{{ comment.nome }}</strong></p>
                    <p ng-bind-html="comment.comentario">
                    </p>
                </div>
            </div>
            <hr>
        </div>

        <ng-quill-editor ng-model="form.description"></ng-quill-editor>
        <button class="btn btn-primary" type="button" ng-click="postProjectComment(form)" translate>Save</button>
    </div>
</div>