<div class="row">
    <div class="col-12 mb-2">
        <h5 class="card-title mb-0" align="center"><span translate>Financial</span> {{ versao }}</h5>
        <div class="row mb-3">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" translate>Incomes</h5>
                        <p class="card-text">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" translate width="50%">Title</th>
                                        <th scope="col" translate>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="income in projectInfo.financeiro.receitas">
                                        <th scope="row">{{ ($index+1) }}</th>
                                        <td>{{ income.descricao }}</td>
                                        <td>{{ income.valor | currency }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" align="right">Total</th>
                                        <td style="font-weight: bold;">
                                            {{ (projectInfo.financeiro.receitas | sumByKey:'valor') | currency }}
                                        </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <button class="btn btn-secondary" type="button" ng-click="openModalFinanceMovement(2)"><i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add</span> </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" translate>Expenses</h5>
                        <p class="card-text">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" translate width="50%">Title</th>
                                        <th scope="col" translate>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="payment in projectInfo.financeiro.despesas">
                                        <th scope="row">{{ ($index+1) }}</th>
                                        <td>{{ payment.descricao }}</td>
                                        <td>{{ payment.valor | currency }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" align="right">Total</th>
                                        <td style="font-weight: bold;">
                                            {{ (projectInfo.financeiro.despesas | sumByKey:'valor') | currency }}
                                        </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <button class="btn btn-secondary" type="button" ng-click="openModalFinanceMovement(1)"><i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add</span> </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <i class="fa fa-refresh" aria-hidden="true" ng-click="reloadFinancialTab()"></i>
    </div>
</div>
<!--div ng-include="'app/views/Modals/ModalFinanceInvoice.html'"></div-->