<div class="row">
    <div class="col-12">
        
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Total de Ordem de Serviços <small>Mes corrente</small></h3>
                <p class="card-text">
                    <h2>{{ dadosDashboard.total_os }}</h2>
                </p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Ordem de Serviços em Aberto <small>Mes corrente</small></h3>
                <p class="card-text">
                    <h2>{{ dadosDashboard.total_cm }}</h2>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6"></div>
        </div>

    </div>
</div>
