<div flex class=ui-view-container-content layout=row>
    <md-content flex=100 class=visaogeral layout-gt-sm=row layout-align-gt-sm=center ng-class="['cols-' + vm.service.columns.length,{'no-scroll' : vm.service.noScroll}]" mdw-cardvg-container=vm.service.cardsController>
        <div style="width: 80px;min-width:80px;"></div>
        <div ng-repeat="column in vm.service.columns track by $index" flex-gt-sm={{vm.service.getFlexSize()}} layout=column class=columnvg ng-class="'columnvg-' + ($index+1)" as-sortable=vm.sortableConfig is-disabled=vm.dragDisabled ng-model=column.cards>
            <div class=mdw-whitebg ng-if="$index == 0" hide-gt-sm>
                <div class=conteudo style="padding-top: 10px;" layout=row>
                    <div flex>
                        <mdw-calendar flex options=vm.service.calendarioConfig></mdw-calendar>
                    </div>
                    <div style="border-left: 1px solid #ccc">
                        <md-button class="md-icon-button personalizar-visaogeral" ng-click=vm.service.personalizar()>
                            <md-tooltip md-direction=left>Personalizar visão geral</md-tooltip>
                            <md-icon>settings_applications</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
            <div ng-repeat="card in vm.service.columns[$index].cards" ng-if="card.visible && card.perm" mdw-cardvg=card class=mdw-whitebg ng-class="[card.id, {'closed' : !card.opened}]" as-sortable-item>
                <div ui-view={{card.id}}></div>
            </div>
        </div>
        <div style="width: 80px;min-width:80px;"></div>
        <div class=vg-left-menu layout=column layout-align="start center" hide-xs hide-sm>
            <mdw-calendar options=vm.service.calendarioConfig orientation=vertical></mdw-calendar>
            <div class=divider></div>
            <md-button class="md-icon-button personalizar-visaogeral" ng-click=vm.service.personalizar()>
                <md-tooltip md-direction=right>Personalizar visão geral</md-tooltip>
                <md-icon>settings_applications</md-icon>
            </md-button>
        </div>
    </md-content>
    <mdw-btn-novo-lancamento mdw-rest-perm-lancamentos-g=0 parent=visaogeral.paineis l="{conta : vm.extrato.filtros.conta}" class=ui-view-container-fab></mdw-btn-novo-lancamento>
</div>
