<div ng-if=!$ctrl.svc.hidden>
    <md-menu ng-if=!$ctrl.svc.disabled>
        <div>
            <md-button class=md-icon-button ng-click=$mdOpenMenu()>
                <md-tooltip>Considerando apenas contas em {{$ctrl.svc.moeda | moeda : true}}</md-tooltip>
                <md-icon md-svg-icon="{{'moeda-' + $ctrl.svc.moeda}}"></md-icon>
            </md-button>
        </div>
        <md-menu-content width=3>
            <md-menu-item ng-repeat="moeda in $ctrl.svc.moedas" class=mdw-menu-item-moeda ng-class="{active : moeda == $ctrl.svc.moeda}">
                <md-button ng-click=$ctrl.selectMoeda(moeda)>
                    <md-icon md-svg-icon="{{'moeda-' + moeda}}"></md-icon>
                    {{moeda | moeda : true}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-button class=md-icon-button ng-if=$ctrl.svc.disabled>
        <md-tooltip>Recurso disponível apenas {{$ctrl.svc.disabledDefault ? 'na moeda padrão de sistema' : 'em ' + ($ctrl.svc.moeda | moeda) }}</md-tooltip>
        <md-icon md-svg-icon="{{'moeda-' + $ctrl.svc.moeda}}"></md-icon>
    </md-button>
</div>
