<div class=mdw-mensagem-limite-lanc ng-class="{visible : $ctrl.shouldShow}">
    <div class=overflow></div>
    <div class=content ng-if=$ctrl.shouldShow>
        <div class=dialog>
            <div class=icon>
                <md-icon>warning</md-icon>
            </div>
            <div class=body>
                <p>O limite mensal de {{$ctrl.maxLancamentosPlano}} lançamentos foi excedido em {{$ctrl.percentualExedido * 100 | number : 0 }}% no mês de {{$ctrl.anoMes}}.</p>
                <p>
                    Recomendamos que faça o upgrade do seu plano pois, <strong>a partir de 1º de abril de 2023</strong>
                    , não será mais possível registrar novos lançamentos quando este limite for excedido, conforme previsto em nossos <a href=https://www.meudinheiroweb.com.br/termos-de-uso/#_pagamento-servicos target=_blank class="link-light-blue hover">termos de uso</a>
                    .
                </p>
                <p>
                    Saiba mais sobre os <a class="link-light-blue hover" href=https://docs.meudinheiroweb.com.br/perguntas-frequentes/duvidas-gerais#limite-de-mensal-de-lancamentos target=_blank>limites de lançamentos</a>
                </p>
                <div layout=row>
                    <md-button flex=100 ng-click=$ctrl.upgrade() class="md-primary md-raised">Fazer upgrade do plano agora</md-button>
                </div>
                <div style="margin-top: 20px" layout=row layout-align=center>
                    <md-button ng-click=$ctrl.dismissDialog()>Fazer upgrade do plano depois</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
