<div>
    <style>
        .mdi {
            font-size: 20px !important;
        }
    </style>
    <ul class="sidebar-nav">
        <!--li class="sidebar-item">
            <a class="sidebar-link" href="#!/">
                <i class="align-middle" data-feather="home"></i>
                <span class="align-middle">Home</span>
            </a>
        </li>
        <li ng-if="modules.projects" class="sidebar-item">
            <a data-bs-target="#projects" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <i class="align-middle" data-feather="grid"></i>
                <span class="align-middle" translate="">Projects</span>
            </a>
            <ul id="projects" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/projects/dashboard">
                        <i class="align-middle" data-feather="layers"></i>
                        <span translate>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/projects">
                        <i class="align-middle" data-feather="grid"></i>
                        <span translate>Projects</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/projects/activities">
                        <i class="align-middle" data-feather="list"></i>
                        <span translate>Activities</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/projects/kanban">
                        <i class="align-middle" data-feather="list"></i>
                        <span translate>Kanban</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-if="modules.finances" class="sidebar-item">
            <a data-bs-target="#Finances" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <i class="align-middle" data-feather="dollar-sign"></i>
                <span class="align-middle" translate="">Finances</span>
            </a>
            <ul id="Finances" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/finances">
                        <span class="material-symbols-rounded align-middle">insights</span>
                        <span translate>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/finances/movimentacoes">
                        <span class="material-symbols-rounded align-middle">currency_exchange</span>
                        <span translate>Movimentações</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/finance/ofxreport">
                        <span class="material-symbols-rounded align-middle">currency_exchange</span>
                        <span translate>Relatório OFX</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/finance/cashFlow">
                        <span class="material-symbols-rounded align-middle">currency_exchange</span>
                        <span translate>Cash Flow</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/finance/invoices">
                        <span class="material-symbols-rounded align-middle">currency_exchange</span>
                        <span translate>Invoices</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/finance/futureDespeses">
                        <span class="material-symbols-rounded align-middle">account_balance_wallet</span>
                        <span translate>Incoming Despeses</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/finance/barcodes">
                        <span class="material-symbols-rounded align-middle">account_balance_wallet</span>
                        <span translate>Barcodes</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-if="modules.logistics" class="sidebar-item">
            <a data-bs-target="#logistics" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <span class="material-symbols-rounded align-middle">box</span>
                <span class="align-middle" translate="">Logistics</span>
            </a>
            <ul id="logistics" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/logistics">
                        <span class="material-symbols-rounded align-middle">insights</span>
                        <span translate>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/logistics/shipper">
                        <span class="material-symbols-rounded align-middle">moving</span>
                        <span translate>Shipper</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/logistics/warehouse">
                        <span class="material-symbols-rounded align-middle">warehouse</span>
                        <span translate>Warehouse</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-if="modules.tickets" class="sidebar-item">
            <a data-bs-target="#tickets" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <i class="align-middle" data-feather="folder"></i>
                <span class="align-middle" translate="">Tickets</span>
            </a>
            <ul id="tickets" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/tickets">
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/tickets/list">Tickets</a>
                </li>
            </ul>
        </li>
        <li ng-if="modules.rh" class="sidebar-item">
            <a data-bs-target="#rh" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <i class="align-middle" data-feather="folder"></i>
                <span class="align-middle" translate="">RH</span>
            </a>
            <ul id="rh" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/rh">
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/rh/baterPonto">Bater Ponto</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#!/games">
                <i class="align-middle" data-feather="home"></i>
                <span class="align-middle">Games</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a data-bs-target="#reports" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <i class="align-middle" data-feather="folder"></i>
                <span class="align-middle" translate="">Reports</span>
            </a>
            <ul id="reports" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/report/1">
                        <span class="mdi mdi-navigation align-middle"></span>
                        Informativo Produção
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/report/2">Ranking</a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/report/3">Cursos Responsivos</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a data-bs-target="#system" data-bs-toggle="collapse" class="sidebar-link collapsed">
                <i class="align-middle" data-feather="folder"></i>
                <span class="align-middle" translate="">System</span>
            </a>
            <ul id="system" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a class="sidebar-link align-middle" href="#!/sistema/usuarios">
                        <span class="mdi mdi-account-multiple align-middle"></span>
                        <span translate="">Users</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="#!/company/settings">
                        <span class="material-symbols-rounded align-middle">
                            settings
                        </span>
                        <span translate="">Settings</span>
                    </a>
                </li>
            </ul>
        </li-->
        <li ng-repeat="item in arrSideMenu" class="sidebar-item">
            <div ng-if="item.rota == null">
                <a data-bs-target="#MenuID{{ item.id }}" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <span class="material-icons align-middle">{{ item.classe_icone }}</span>
                    <!--span class="mdi mdi-{{ item.classe_icone }} align-middle"></span-->
                    <span class="align-middle" translate="">{{ item.titulo }}</span>
                </a>
                <ul id="MenuID{{ item.id }}" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li ng-repeat="subitem in item.childrens" class="sidebar-item">
                        <a class="sidebar-link" href="#!{{ subitem.rota }}">
                            <span class="material-icons align-middle">{{ subitem.classe_icone }}</span>
                            <span translate>{{ subitem.titulo }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <a ng-if="item.rota != null" class="sidebar-link" href="#!{{ item.rota }}">
                <span class="material-icons-outlined align-middle">{{ item.classe_icone }}</span>
                <span class="align-middle">{{ item.titulo }}</span>
            </a>
        </li>
    </ul>
</div>