<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" translate="">Editar Movimentação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-click="$hide()"></button>
            </div>
            <div class="modal-body m-3">
                <form>
                    <div class="mb-3">
                        <label for="field0" translate="">Tipo</label>
                        <div id="field0">
                            <label class="ui-radio ui-radio-danger">
                                <input name="radio1" type="radio" value="D" ng-model="form.tipo_operacao" checked="checked" aria-invalid="false">
                                <span>Despesa</span>
                            </label>
                            <label class="ui-radio">
                                <input name="radio1" type="radio" value="C" ng-model="form.tipo_operacao" aria-invalid="false">
                                <span>Receita</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <label for="field1">Title</label> 
                        <input type="text" class="form-control" id="field1" placeholder="Digite o nome" ng-model="form.descricao"> 
                    </div>
                    <div class="form-group">
                                    <label for="field3" translate="">Value</label>
                                    <input type="text" id="field3" class="form-control" ng-model="form.valor" ui-money-mask="2" />
                                </div>
                                <div class="form-group">
                                    <label for="field4" translate="">FINANCIAL_DUE_DATE</label>
                                    <input type="date" id="field4" class="form-control" ng-model="form.data_vencimento" />
                                </div>
                                <div class="form-group">
                                    <label for="field5" translate="">Category</label>
                                    <ui-select id="field5" ng-model="form.id_categoria" theme="selectize" title="Choose a person">
                                        <ui-select-match placeholder="Selecione a Categoria">
                                            {{$select.selected.nome}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in categoriesListFiltered | filter: $select.search">
                                            <div>
                                                <span>&nbsp;{{ item.nome | highlight: $select.search }}</span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="field6" translate="">Account</label>
                                    <ui-select id="field6" ng-model="form.conta" theme="selectize" title="Selecione o banco...">
                                        <ui-select-match placeholder="Selecione o banco...">
                                            <img ng-src="https://s3.amazonaws.com/img.meudinheiroweb.com.br/bankicons/{{ $select.selected.banco.img }}.jpg" alt="" style="width: 25px; height: 25px;border-radius: 100%;" />
                                            {{$select.selected.nome}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in accountsList | filter: $select.search">
                                            <div>
                                                <img ng-src="https://s3.amazonaws.com/img.meudinheiroweb.com.br/bankicons/{{ item.banco.img }}.jpg" alt="" style="width: 25px; height: 25px;border-radius: 100%;" />
                                                <span>&nbsp;{{ item.nome | highlight: $select.search }}</span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="$hide()" translate>Fechar</button>
                <button type="button" class="btn btn-success" ng-click="salvarEdicaoMovimentacao(form)" translate>Salvar</button>
            </div>
        </div>
    </div>
</div>