<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" ng-controller="FinancesDashboard">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" translate="">Financial Movement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ng-click="$hide()"></button>
            </div>
            <div class="modal-body m-3">
                <form>
                        <div class="form-group"> 
                            <label for="field1">Nome</label> 
                            <input type="text" class="form-control" id="field1" placeholder="Digite o nome" ng-model="form.nome"> 
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="$hide()" translate>Close</button>
                <button type="button" class="btn btn-success" ng-click="salvarCategoria(form)" translate>Save</button>
            </div>
        </div>
    </div>
</div>