<div class="row">
    <div class="col-12" ng-init="initListagemOS()">
        <style>
            .myGrid {
    width: 100%;
    height: 250px;
  }
        </style>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ordens de Serviço</h4>
                <p class="card-text">
                    
                    <button type="button" class="btn btn-info" onclick="goto('/ordemServico/novo')"> <i class="fa fa-plus" aria-hidden="true"></i> <span translate>Add</span></button>
                    
                    <br>
                    <div ui-grid="gridOptions" class="myGrid"></div>
                    <hr>
                    {{ keys }}
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listaOS2 track by $index">
                                <td>{{ item }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </p>
            </div>
        </div>
    </div>
</div>