<div class="modal" id="ModalNovaAtividade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-click="$hide()"></button>
            </div>
            <div class="modal-body m-3">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="mb-3">
                            <label for="field1" translate="">Title</label>
                            <input type="text" id="field1" class="form-control" ng-model="form.titulo" />
                        </div>
                        <div class="mb-3">
                            <label for="field2" translate="">Description</label>
                            <textarea class="form-control" id="field2" rows="5" placeholder="Enter some brief about task..." ng-model="form.description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="field2" translate="">Group</label>
                            <input type="text" id="field2" class="form-control" ng-model="form.etapa" />
                        </div>
                        <div class="mb-3">
                            <label for="field2" translate="">Start Date</label>
                            <input type="date" id="field2" class="form-control" ng-model="form.inicio_estimado" />
                        </div>
                        <div class="mb-3">
                            <label for="field2" translate="">Due Date</label>
                            <input type="date" id="field2" class="form-control" ng-model="form.termino_estimado" ng-change="calculateEffort()" />
                        </div>
                        <div class="mb-3">
                            <label for="field6" translate="">Estimated Effort</label>
                            <input type="text" id="field6" class="form-control" ui-number-mask="2" ng-model="form.esforco_estimado" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="$hide()" translate>Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveNewTask();$hide()" translate>Save changes</button>
            </div>
        </div>
    </div>
</div>