<div class="row">
    <div class="col-md-12" ng-init="listarUltimasBatidas()">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" translate>Ponto</h5>
                <p class="card-text">

                    <center>
                        <button class="btn btn-secondary" type="button" ng-click="registrarBatidaPonto()">Bater Ponto</button>
                    </center>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Dia</th>
                                <th>Mes</th>
                                <th>Ano</th>
                                <th>Hora</th>
                                <th>Data Cadastro</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="user in listaPonto">
                            <td>{{ user.dia }}</td>
                            <td>{{ user.mes }}</td>
                            <td>{{ user.ano }}</td>
                            <td>{{ user.hora }}</td>
                            <td>{{ user.data_cadastro }}</td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>