<div class="row">
    <div class="col-md-12" ng-init="initDashboard()">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Dashbaord</h2>
                <p class="card-text">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in dadosDashboard">
                                <td>{{ item.dia }}/{{ item.mes }}/{{ item.ano }}</td>
                                <td><span ng-show="item.saldo.minutes > 0">{{ item.saldo.minutes }} minutos</span></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>