<div class="row">
    <div class="col-md-12">
        <br>
        <h1 class="h3 mb-3">Dashboard - v {{ versao }}</h1>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Warehouse Volumes</h5>
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Delivery Volumes</h5>
                        <p class="card-text">
                
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>