<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Warehouse - {{ versao }}</h5>
                <p class="card-text">
                    <form action="api/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="filetoupload"><br>
                        <input type="submit">
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>